<?php
$wishlistId = Mage::app()->getRequest()->getParam('packageId');
$wishlistName = Mage::app()->getRequest()->getParam('packageName');
$wishlistItems = Mage::getModel('wishlistprinter/wishlist')->getWishlistItems($wishlistId);
$PAGE_WIDTH = 550;
$COL_WIDTH_1 = '20%';
$COL_WIDTH_2 = '43%';
$COL_WIDTH_3 = '20%';
$COL_WIDTH_4 = '17%';

$marginTop = 20;
$marginLeft = 0;

$logoImage = Mage::getStoreConfig('sales/identity/logo');
$footerLogoImage = '/media' . '/pdfprinter/footer-logo.png';
$storeCopyright = Mage::getStoreConfig('design/footer/copyright');
        
if ($logoImage) {
    $logoImage = '/media' . '/sales/store/logo/' . $logoImage;
    if (is_file($logoImage)) {
        $top = $marginTop; //top border of the page
        $left = $marginLeft; //half of the page width
        $size = getimagesize($logoImage);
        $width = $size[0];
        $height = $size[1];
    }
}

?>
<table style="background-color: #ffffff">
    <tr>
        <td>
            <?php if ($logoImage): ?>
                <table style="font-size:12px; width: 99%; padding-top: 2px; padding-bottom: 2px; background-color: #FFFFFF;">
                    <tr>
                        <td style="text-align: left;  "><img src="<?php echo $logoImage ?>" /></td>
                    </tr>
                </table>
            <?php endif; ?>
        </td>           
    </tr>

    <tr>
        <td>
            <table><tr><td>&nbsp;</td></tr></table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="font-size:12px;width: 99%; padding-top: 2px; padding-bottom: 2px; border: 1px solid #808080; background-color: #737373; color: #FFFFFF;">
                <tr><td><?php echo $this->__('Specification Package') . ': ' . $wishlistName ?></td></tr>
                <?php if ($customer = Mage::getSingleton('customer/session')->getCustomer()): ?>
                    <tr><td><?php echo $this->__('Generated By') . ': ' . $customer->getName() ?></td></tr>
                <?php endif; ?>
            </table>

            <table style="width: 99%; background-color: #FFFFFF;"><tr><td>&nbsp;</td></tr></table>

            <table style="width: 99%; background-color: #FFFFFF;">
                <tr style="background-color: #EDEBEB; color:#000000; font-size: 12px;">
                    <th style="width:<?php echo $COL_WIDTH_1 ?>; border-left: 1px solid #8B8B8B; border-bottom: 1px solid #8B8B8B; border-top: 1px solid #8B8B8B;"></th>
                    <th style="width:<?php echo $COL_WIDTH_2 ?>; border-bottom: 1px solid #8B8B8B; border-top: 1px solid #8B8B8B;"><?php echo $this->__('Product Name') ?></th>
                    <th style="width:<?php echo $COL_WIDTH_3 ?>; border-bottom: 1px solid #8B8B8B; border-top: 1px solid #8B8B8B;"><?php echo $this->__('SKU') ?></th>
                    <th style="width:<?php echo $COL_WIDTH_4 ?>; border-bottom: 1px solid #8B8B8B; border-top: 1px solid #8B8B8B; border-right: 1px solid #8b8b8b;"><?php echo $this->__('Qty') ?></th>
                </tr>

                <tr>
                    <td style="width:<?php echo $COL_WIDTH_1 ?>;"></td>
                    <td style="width:<?php echo $COL_WIDTH_2 ?>;"></td>
                    <td style="width:<?php echo $COL_WIDTH_3 ?>;"></td>
                    <td style="width:<?php echo $COL_WIDTH_4 ?>;"></td>
                </tr>

                <?php foreach ($wishlistItems as $item): ?>
                    <?php $product = $item->getProduct(); ?>
                    <tr style="font-size: 12px; color: #000000">

                        <?php $image = Mage::helper('catalog/image')->init($product, 'thumbnail')->resize(100)->__toString(); ?>
                        <?php $path = parse_url($image, PHP_URL_PATH); ?>

                        <?php if ($image): ?>
                            <td><img src="<?php echo $_SERVER['DOCUMENT_ROOT'] . $path ?>" /></td>
                        <?php else: ?>
                            <td></td>
                        <?php endif; ?>

                        <td><?php echo $product->getName() ?><p><?php echo $item->getDescription(); ?></p></td>
                        <td><?php echo Mage::getModel('catalog/product')->load($product->getId())->getSku(); ?><?php echo $product->getSku(); ?></td>
                        <td><?php echo number_format($item->getQty()) ?></td>
                    </tr>
                    <tr>
                        <td style="width:<?php echo $COL_WIDTH_1 ?>;"></td>
                        <td style="width:<?php echo $COL_WIDTH_2 ?>;"></td>
                        <td style="width:<?php echo $COL_WIDTH_3 ?>;"></td>
                        <td style="width:<?php echo $COL_WIDTH_4 ?>;"></td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table><tr><td>&nbsp;</td></tr></table>
        </td>
    </tr>

    <tr>
        <td>
            <table style="font-size:12px;width: 99%; padding-top: 2px; padding-bottom: 2px; border: 1px solid #808080; background-color: #2C2C2C; color: #FFFFFF;">
                <tr><td style="width: 80%"><?php echo $this->__('Headquarters') ?></td><td style="width: 20%" rowspan="3"><img src="<?php echo $footerLogoImage ?>" /></td></tr>
                <tr><td style="width: 80%"><?php echo $this->__('5461 West Jefferson Blvd.') ?></td></tr>
                <tr><td style="width: 80%"><?php echo $this->__('Los Angeles, California 90016') ?></td></tr>
                <tr><td style="text-align: center" colspan="3"><?php echo $storeCopyright ?></td></tr>
            </table>

        </td>
    </tr>

    <tr>
        <td>
            <table><tr><td>&nbsp;</td></tr></table>
        </td>
    </tr>
</table>