<?php
$magentoVersion = Mage::getVersion();
if (version_compare($magentoVersion, '1.8', '>=')){
?>
<div class="block block-progress opc-block-progress">
  <div class="block-title">
    <strong><span><?php echo $this->__('Your Checkout Progress') ?></span></strong>
  </div>
  <div class="block-content">
    <dl>
      <?php if ($this->getCheckout()->getStepData('billing', 'is_show')): ?>
      <div id="billing-progress-opcheckout">
          <?php echo $this->getChildHtml('billing.progress') ?>
      </div>
      <?php endif; ?>

      <?php if ($this->getCheckout()->getStepData('shipping', 'is_show')): ?>
      <div id="shipping-progress-opcheckout">
          <?php echo $this->getChildHtml('shipping.progress') ?>
      </div>
      <?php endif; ?>

      <?php if ($this->getCheckout()->getStepData('shipping_method', 'is_show')): ?>
      <div id="shipping_method-progress-opcheckout">
          <?php echo $this->getChildHtml('shippingmethod.progress') ?>
      </div>
      <?php endif; ?>

      <?php if ($this->getCheckout()->getStepData('payment', 'is_show')): ?>
      <div id="payment-progress-opcheckout">
          <?php echo $this->getChildHtml('payment.progress') ?>
      </div>
      <?php endif; ?>

      <?php if (Mage::helper('salesrep')->showFrontendStep() && $this->getCheckout()->getStepData('salesrep', 'is_show')): ?>
      <div id="salesrep-progress-opcheckout">
        <?php echo $this->getChildHtml('salesrep.progress') ?>
      </div>
      <?php endif; ?>
    </dl>
  </div>
</div>
<?php
} else {
?>
<div class="block block-progress opc-block-progress">
    <div class="block-title">
        <strong><span><?php echo $this->__('Your Checkout Progress') ?></span></strong>
    </div>
    <div class="block-content">
        <dl>
        <?php if ($this->getCheckout()->getStepData('billing', 'is_show')): ?>
        <?php if ($this->getCheckout()->getStepData('billing', 'complete')): ?>
            <dt class="complete">
                <?php echo $this->__('Billing Address') ?> <span class="separator">|</span>
                <a href="#billing" onclick="checkout.gotoSection('billing'); return false;"><?php echo $this->__('Change') ?></a>
            </dt>
            <dd class="complete">
                <address><?php echo $this->getBilling()->format('html') ?></address>
            </dd>
        <?php else: ?>
            <dt>
                <?php echo $this->__('Billing Address') ?>
            </dt>
        <?php endif; ?>
        <?php endif; ?>

        <?php if ($this->getCheckout()->getStepData('shipping', 'is_show')): ?>
        <?php if ($this->getCheckout()->getStepData('shipping', 'complete')): ?>
            <dt class="complete">
                <?php echo $this->__('Shipping Address') ?> <span class="separator">|</span>
                <a href="#payment" onclick="checkout.gotoSection('shipping');return false;"><?php echo $this->__('Change') ?></a>
            </dt>
            <dd class="complete">
                <address><?php echo $this->getShipping()->format('html') ?></address>
            </dd>
        <?php else: ?>
            <dt>
                <?php echo $this->__('Shipping Address') ?>
            </dt>
        <?php endif; ?>
        <?php endif; ?>

        <?php if ($this->getCheckout()->getStepData('shipping_method', 'is_show')): ?>
        <?php if ($this->getCheckout()->getStepData('shipping_method', 'complete')): ?>
            <dt class="complete">
                <?php echo $this->__('Shipping Method') ?> <span class="separator">|</span>
                <a href="#shipping_method" onclick="checkout.gotoSection('shipping_method'); return false;"><?php echo $this->__('Change') ?></a>
            </dt>
            <dd class="complete">
                <?php if ($this->getShippingMethod()): ?>
                    <?php echo $this->escapeHtml($this->getShippingDescription()) ?>

                    <?php $_excl = $this->getShippingPriceExclTax(); ?>
                    <?php $_incl = $this->getShippingPriceInclTax(); ?>
                    <?php if ($this->helper('tax')->displayShippingPriceIncludingTax()): ?>
                        <?php echo $_incl; ?>
                    <?php else: ?>
                        <?php echo $_excl; ?>
                    <?php endif; ?>
                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                    <?php endif; ?>

                <?php else: ?>
                    <?php echo $this->__('Shipping method has not been selected yet') ?>
                <?php endif; ?>
            </dd>
        <?php else: ?>
            <dt>
                <?php echo $this->__('Shipping Method') ?>
            </dt>
        <?php endif; ?>
        <?php endif; ?>

        <?php if ($this->getCheckout()->getStepData('payment', 'is_show')): ?>
        <?php if ($this->getCheckout()->getStepData('payment', 'complete')): ?>
            <dt class="complete">
                <?php echo $this->__('Payment Method') ?> <span class="separator">|</span>
                <a href="#payment" onclick="checkout.gotoSection('payment'); return false;"><?php echo $this->__('Change') ?></a>
            </dt>
            <dd class="complete">
                <?php echo $this->getPaymentHtml() ?>
            </dd>
        <?php else: ?>
            <dt>
                <?php echo $this->__('Payment Method') ?>
            </dt>
        <?php endif; ?>
        <?php endif; ?>

        <?php if (Mage::helper('salesrep')->showFrontendStep() && $this->getCheckout()->getStepData('salesrep', 'is_show')): ?>
          <?php echo $this->getChildHtml('salesrep.progress') ?>
        <?php endif; ?>

        </dl>
    </div>
</div>

<?php
}
?>