<?php
$order = $this->getOrder();

$admins       = Mage::getModel('LucidPath_SalesRepDeluxe_Model_Source_UsersList')->toOptionArray();
$statuses     = Mage::helper('salesrep')->getStatusList();

$current_user = Mage::getSingleton('admin/session')->getUser();

$salesrep     = $this->getSalesrep();
?>
<div class="box-left">
  <div class="entry-edit">
    <div class="entry-edit-head">
      <h4 class="icon-head head-salesrep"><?php echo Mage::helper('sales')->__('Sales Representative') ?></h4>
    </div>
    <fieldset>
      <?php if ($this->canView('view_rep_name') || $this->canChange('change_rep')) { ?>
        <input type="hidden" name="order_id" value="<?php echo $order->getId(); ?>" />
        <ul class="form-list">
          <li>
            <div class="input-box">
              <table border="0">
              <tr>
                <td><?php echo $this->__('Name:');?></td>
                <td width="16"></td>
                <td>
                  <?php if ($this->canChange('change_rep')) { ?>
                    <select style="width: 200px;" id="salesrep_rep_id" name="salesrep_rep_id" class="validate-select">
                      <?php foreach($admins as $admin): ?>
                        <option <?php if ($salesrep->getRepId() == $admin['value']) echo 'selected="selected"';?> value="<?php echo $admin['value'] ?>"><?php echo $admin['label'] ?></option>
                      <?php endforeach; ?>
                    </select>
                  <?php } else { ?>
                    <?php if ($this->canView('view_rep_name')) { ?>
                      <?php echo ($salesrep->getRepName() != "") ? $salesrep->getRepName() : "No Sales Representative"; ?>
                    <?php } ?>
                  <?php } ?>
                </td>
              </tr>
              <tr>
                <td><?php echo $this->__('Commission:');?></td>
                <td width="16"></td>
                <td>
                  <span id="salesrep_rep_commission_amount_id">
                    <?php if ($this->canView('view_rep_commission_amount')) {
                      echo Mage::helper('core')->currency($salesrep->getRepCommissionEarned(), true, false);
                    }
                    ?>
                  </span>
                </td>
              </tr>
              <tr>
                <td><?php echo $this->__('Payment Status:');?></td>
                <td width="16">
                  <?php if ($this->canView('view_rep_commission_status')) { ?>
                    <?php
                    if ($salesrep->getRepCommissionStatus() != "") {
                      $_salesrep_icon = $this->getSkinUrl('images/salesrep/'. strtolower($salesrep->getRepCommissionStatus()) .'.png');
                    } else {
                      $_salesrep_icon = $this->getSkinUrl('images/salesrep/unpaid.png');
                    }
                    ?>
                    <img style="margin-top: 2px;" name="salesrep_rep_commission_status_icon" id="salesrep_rep_commission_status_icon_id" src="<?php echo $_salesrep_icon; ?>" alt="<?php echo $salesrep->getRepCommissionStatus(); ?>"/>
                  <?php } ?>
                </td>
                <td>
                  <?php if ($this->canChange('change_rep_commission_status')) { ?>
                    <select style="width: 200px;" id="salesrep_rep_commission_status_id" name="salesrep_rep_commission_status" class="validate-select">
                      <?php foreach($statuses as $status): ?>
                        <option <?php if ($salesrep->getRepCommissionStatus() == strtolower($status['value'])) echo 'selected="selected"';?> value="<?php echo $status['value'] ?>"><?php echo $status['label'] ?></option>
                      <?php endforeach; ?>
                    </select>
                  <?php } else { ?>
                    <?php
                      if ($this->canView('view_rep_commission_status') || $this->canChange('change_rep_commission_status')) {
                        echo $salesrep->getRepCommissionStatus() ? ucfirst($salesrep->getRepCommissionStatus()) : 'Unpaid';
                      }
                    ?>
                  <?php } ?>
                </td>
              </tr>
              </table>
            </div>
          </li>
        </ul>

      <?php } else { ?>
      <?php echo $this->__('No information available');?>
      <?php } ?>
    </fieldset>
  </div>
</div>


<div class="box-right">
  <div class="entry-edit">
    <div class="entry-edit-head">
      <h4 class="icon-head head-salesrep"><?php echo Mage::helper('sales')->__('Manager') ?></h4>
    </div>
    <fieldset>
      <?php if ($this->canView('view_manager_name') || $this->canChange('change_manager')) { ?>
        <input type="hidden" name="order_id" value="<?php echo $order->getId(); ?>" />
        <ul class="form-list">
          <li>
            <div class="input-box">
              <table border="0">
              <tr>
                <td><?php echo $this->__('Name:');?></td>
                <td width="16"></td>
                <td>
                  <?php if ($this->canChange('change_manager')) { ?>
                    <select style="width: 200px;" id="salesrep_manager_id" name="salesrep_manager_id" class="validate-select">
                      <?php foreach($admins as $admin): ?>
                        <option <?php if ($salesrep->getManagerId() == $admin['value']) echo 'selected="selected"';?> value="<?php echo $admin['value'] ?>"><?php echo $admin['label'] ?></option>
                      <?php endforeach; ?>
                    </select>
                  <?php } else { ?>
                    <?php if ($this->canView('view_manager_name')) { ?>
                      <?php echo ($salesrep->getManagerName() != "") ? $salesrep->getManagerName() : "No Manager"; ?>
                    <?php } ?>
                  <?php } ?>
                </td>
              </tr>
              <tr>
                <td><?php echo $this->__('Commission:');?></td>
                <td width="16"></td>
                <td>
                  <span id="salesrep_manager_commission_amount_id">
                    <?php if ($this->canView('view_manager_commission_amount')) {
                      echo Mage::helper('core')->currency($salesrep->getManagerCommissionEarned(), true, false);
                    }
                    ?>
                  </span>
                </td>
              </tr>
              <tr>
                <td><?php echo $this->__('Payment Status:');?></td>
                <td width="16">
                  <?php if ($this->canView('view_manager_commission_status') || $this->canChange('change_manager_commission_status')) { ?>
                    <?php
                    if ($salesrep->getManagerCommissionStatus() != "") {
                      $_salesrep_icon = $this->getSkinUrl('images/salesrep/'. strtolower($salesrep->getManagerCommissionStatus()) .'.png');
                    } else {
                      $_salesrep_icon = $this->getSkinUrl('images/salesrep/unpaid.png');
                    }
                    ?>
                    <img style="margin-top: 2px;" name="salesrep_manager_commission_status_icon" id="salesrep_manager_commission_status_icon_id" src="<?php echo $_salesrep_icon; ?>" alt="<?php echo $salesrep->getManagerCommissionStatus(); ?>"/>
                  <?php } ?>
                </td>
                <td>
                  <?php if ($this->canChange('change_manager_commission_status')) { ?>
                    <select style="width: 200px;" id="salesrep_manager_commission_status_id" name="salesrep_manager_commission_status" class="validate-select">
                      <?php foreach($statuses as $status): ?>
                        <option <?php if ($salesrep->getManagerCommissionStatus() == strtolower($status['value'])) echo 'selected="selected"';?> value="<?php echo $status['value'] ?>"><?php echo $status['label'] ?></option>
                      <?php endforeach; ?>
                    </select>
                  <?php } else { ?>
                    <?php
                      if ($this->canView('view_manager_commission_status')) {
                        echo $salesrep->getManagerCommissionStatus() ? ucfirst($salesrep->getManagerCommissionStatus()) : 'Unpaid';
                      }
                    ?>
                  <?php } ?>
                </td>
              </tr>
              </table>
            </div>
          </li>
        </ul>
      <?php } else { ?>
      <?php echo $this->__('No information available');?>
      <?php } ?>
    </fieldset>
  </div>
</div>

<?php if ($this->canChange('change_rep')) { ?>
<script type="text/javascript">
//<![CDATA[
function changeRep() {
  params = {form_key: FORM_KEY,
            order_id: <?php echo $order->getId(); ?>,
            salesrep_rep_id: $('salesrep_rep_id').value.toLowerCase()}

  var request = new Ajax.Request(
    '<?php echo $this->getUrl('adminhtml/order/changeSalesrepRep/') ?>',
    {
      method: 'post',
      onComplete: function() {},
      onSuccess: function(transport) {
        try {
          if (transport.responseText.isJSON()) {
            var response = transport.responseText.evalJSON();

            if (response.error) {
              alert(response.message);
              needUpdate = false;
            }
            if(response.ajaxExpired && response.ajaxRedirect) {
              setLocation(response.ajaxRedirect);
              needUpdate = false;
            }

            if (response.success) {

              // update rep commission earned
              $('salesrep_rep_commission_amount_id').update(response.salesrep.rep_commission_earned_text);

              // update commission status icon
              var img_src = '<?php echo $this->getSkinUrl('images/salesrep/'); ?>';
              $("salesrep_rep_commission_status_icon_id").src = img_src + response.salesrep.rep_commission_status.toLowerCase() + '.png';

              // update commission status
              var opts = $('salesrep_rep_commission_status_id').options;
              var len  = opts.length;

              for (var i = 0; i < len; i++) {
                if (opts[i].value == response.salesrep.rep_commission_status) {
                  opts[i].selected = true;
                }
              }

              var opts = $('salesrep_manager_id').options;

              if (response.salesrep.manager_id > 0) {
                var len  = opts.length;

                for (var i = 0; i < len; i++) {
                  if (opts[i].value == response.salesrep.manager_id) {
                    opts[i].selected = true;
                  }
                }
              } else {
                opts[0].selected = true;
              }

              $('salesrep_manager_commission_amount_id').update(response.salesrep.manager_commission_earned_text);

              var opts = $('salesrep_manager_commission_status_id').options;
              var len  = opts.length;

              for (var i = 0; i < len; i++) {
                if (opts[i].value == response.salesrep.manager_commission_status) {
                  opts[i].selected = true;
                }
              }

              var img_src = '<?php echo $this->getSkinUrl('images/salesrep/'); ?>';
              $("salesrep_manager_commission_status_icon_id").src = img_src + response.salesrep.manager_commission_status.toLowerCase() + '.png';
            }
          } else {
            $(categoryContainer).update(transport.responseText);
          }
        } catch (e) {
          $(categoryContainer).update(transport.responseText);
        }
      },
      onFailure: function() {},
      parameters: params
    }
  );
  return false;
}

Event.observe($('salesrep_rep_id'), 'change', changeRep);
//]]>
</script>
<?php } ?>

<?php if ($this->canChange('change_rep_commission_status')) { ?>
<script type="text/javascript">
//<![CDATA[
function changeRepCommissionStatus() {
  params = {form_key: FORM_KEY,
            order_id: <?php echo $order->getId(); ?>,
            rep_commission_status: $('salesrep_rep_commission_status_id').value}

  var request = new Ajax.Request(
    '<?php echo $this->getUrl('adminhtml/order/changeRepCommissionStatus/') ?>',
    {
      method: 'post',
      onComplete: function() {},
      onSuccess: function(data) {
        var img_src = '<?php echo $this->getSkinUrl('images/salesrep/'); ?>';

        $("salesrep_rep_commission_status_icon_id").src = img_src + $('salesrep_rep_commission_status_id').value.toLowerCase() + '.png';
      },
      onFailure: function() {},
      parameters: params
    }
  );
  return false;
}

Event.observe($('salesrep_rep_commission_status_id'), 'change', changeRepCommissionStatus);
//]]>
</script>
<?php } ?>

<?php if ($this->canChange('change_manager')) { ?>
<script type="text/javascript">
//<![CDATA[
function changeManager() {
  params = {form_key: FORM_KEY,
            order_id: <?php echo $order->getId(); ?>,
            salesrep_manager_id: $('salesrep_manager_id').value.toLowerCase()}

  var request = new Ajax.Request(
    '<?php echo $this->getUrl('adminhtml/order/changeSalesrepManager/') ?>',
    {
      method: 'post',
      onComplete: function() {},
      onSuccess: function(transport) {
        try {
          if (transport.responseText.isJSON()) {
            var response = transport.responseText.evalJSON();

            if (response.error) {
              alert(response.message);
              needUpdate = false;
            }
            if(response.ajaxExpired && response.ajaxRedirect) {
              setLocation(response.ajaxRedirect);
              needUpdate = false;
            }

            if (response.success) {
              try {
                if (transport.responseText.isJSON()) {
                  var response = transport.responseText.evalJSON();

                  if (response.error) {
                    alert(response.message);
                    needUpdate = false;
                  }
                  if(response.ajaxExpired && response.ajaxRedirect) {
                    setLocation(response.ajaxRedirect);
                    needUpdate = false;
                  }

                  if (response.success) {
                    $('salesrep_manager_commission_amount_id').update(response.salesrep.manager_commission_earned_text);

                    var opts = $('salesrep_manager_commission_status_id').options;
                    var len  = opts.length;

                    for (var i = 0; i < len; i++) {
                      if (opts[i].value == response.salesrep.manager_commission_status) {
                        opts[i].selected = true;
                      }
                    }

                    var img_src = '<?php echo $this->getSkinUrl('images/salesrep/'); ?>';
                    $("salesrep_manager_commission_status_icon_id").src = img_src + response.salesrep.manager_commission_status.toLowerCase() + '.png';
                  }
                } else {
                  $(categoryContainer).update(transport.responseText);
                }
              } catch (e) {
                $(categoryContainer).update(transport.responseText);
              }
            }
          } else {
            $(categoryContainer).update(transport.responseText);
          }
        } catch (e) {
          $(categoryContainer).update(transport.responseText);
        }
      },
      onFailure: function() {},
      parameters: params
    }
  );
  return false;
}

Event.observe($('salesrep_manager_id'), 'change', changeManager);
//]]>
</script>
<?php } ?>

<?php if ($this->canChange('change_manager_commission_status')) { ?>
<script type="text/javascript">
//<![CDATA[
function changeManagerCommissionStatus() {
  params = {form_key: FORM_KEY,
            order_id: <?php echo $order->getId(); ?>,
            manager_commission_status: $('salesrep_manager_commission_status_id').value}

  var request = new Ajax.Request(
    '<?php echo $this->getUrl('adminhtml/order/changeManagerCommissionStatus/') ?>',
    {
      method: 'post',
      onComplete: function() {},
      onSuccess: function(transport) {
        try {
          if (transport.responseText.isJSON()) {
            var response = transport.responseText.evalJSON();

            if (response.error) {
              alert(response.message);
              needUpdate = false;
            }
            if(response.ajaxExpired && response.ajaxRedirect) {
              setLocation(response.ajaxRedirect);
              needUpdate = false;
            }

            if (response.success) {
              var img_src = '<?php echo $this->getSkinUrl('images/salesrep/'); ?>';
              $("salesrep_manager_commission_status_icon_id").src = img_src + response.salesrep.manager_commission_status.toLowerCase() + '.png';
            }
          } else {
            $(categoryContainer).update(transport.responseText);
          }
        } catch (e) {
          $(categoryContainer).update(transport.responseText);
        }
      },
      onFailure: function() {},
      parameters: params
    }
  );
  return false;
}

Event.observe($('salesrep_manager_commission_status_id'), 'change', changeManagerCommissionStatus);
//]]>
</script>
<?php } ?>
