<?php if ($this->getCheckout()->getStepData('salesrep', 'complete')): ?>
<dt class="complete">
    <?php echo Mage::helper('checkout')->__(Mage::getStoreConfig('salesrep/step_setup/step_header')); ?>
    <span class="changelink"> <span class="separator">|</span>
      <a href="#salesrep" onclick="checkout.gotoSection('salesrep'); return false;"><?php echo $this->__('Change') ?></a>
    </span>
</dt>
<dd class="complete">
  <?php
    echo $this->getCheckout()->getRepName();
  ?>
</dd>
<?php else: ?>
<dt>
    <?php echo Mage::helper('checkout')->__(Mage::getStoreConfig('salesrep/step_setup/step_header')); ?>
</dt>
<?php endif; ?>
