<?php
$_product    = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
$_jsonConfig = $this->getJsonConfig();
$_renderers = $this->getChild('attr_renderers')->getSortedChildren();
?>
<?php  //if ($_product->isAvailable() && count($_attributes)):?>
    <dl>
        <?php foreach($_attributes as $_attribute): ?>
            <?php
            $_rendered = false;
            foreach ($_renderers as $_rendererName):
                $_renderer = $this->getChild('attr_renderers')->getChild($_rendererName);
                if (method_exists($_renderer, 'shouldRender') && $_renderer->shouldRender($_attribute, $_jsonConfig)):
                    $_renderer->setProduct($_product);
                    $_renderer->setAttributeObj($_attribute);
                    echo $_renderer->toHtml();
                    $_rendered = true;
                    break;
                endif;
            endforeach;

            if (!$_rendered):
                ?>
                <div class="optionlist">
                <dt><label class="required"><em>*</em><?php echo $_attribute->getLabel() ?></label></dt>
                <dd<?php if ($_attribute->decoratedIsLast){?> class="last"<?php }?>>
                    <div class="input-box">
                        <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select">
                            <option><?php echo $this->__('Choose an Option...') ?></option>
                        </select>
                    </div>
                </dd>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </dl>
    <script type="text/javascript">
        var spConfig = new Product.Config(<?php echo $_jsonConfig ?>);
        
        jQuery(document).ready(function (){
            jQuery('.link-wishlist').attr('style',"pointer-events: none; cursor: default;");
            jQuery('.link-wishlist').attr('href',"");
            jQuery('dd.swatch-attr .configurable-swatch-list li a').click(function (){
                var selectedSimple = spConfig.getIdOfSelectedProduct();
                if(selectedSimple){
                    jQuery.post("<?php echo Mage::getUrl('unleaded/index') ?>", {simpleId: selectedSimple}, function(result){
                        jQuery('.link-wishlist').attr('style',"");
                        jQuery('.link-wishlist').attr('href',result);
                    });
                } else {
                    jQuery('.link-wishlist').attr('style',"pointer-events: none; cursor: default;");
                }
            });
        });
        
        Product.Config.prototype.getIdOfSelectedProduct = function ()
        {
            var existingProducts = new Object();
            for (var i = this.settings.length - 1; i >= 0; i--)
            {
                var selected = this.settings[i].options[this.settings[i].selectedIndex];
                if (selected.config)
                {
                    for (var iproducts = 0; iproducts < selected.config.products.length; iproducts++)
                    {
                        var usedAsKey = selected.config.products[iproducts] + "";
                        if (existingProducts[usedAsKey] == undefined)
                        {
                            existingProducts[usedAsKey] = 1;
                        }
                        else
                        {
                            existingProducts[usedAsKey] = existingProducts[usedAsKey] + 1;
                        }
                    }
                }
            }
            for (var keyValue in existingProducts)
            {
                for (var keyValueInner in existingProducts)
                {
                    if (Number(existingProducts[keyValueInner]) < Number(existingProducts[keyValue]))
                    {
                        delete existingProducts[keyValueInner];
                    }
                }
            }
            var sizeOfExistingProducts = 0;
            var currentSimpleProductId = "";
            for (var keyValue in existingProducts)
            {
                currentSimpleProductId = keyValue;
                sizeOfExistingProducts = sizeOfExistingProducts + 1
            }
            if (sizeOfExistingProducts == 1)
            {
                return currentSimpleProductId;
            } else {
                return false;
            }

        }
    </script>
    <?php echo $this->getChildHtml('after') ?>
<?php //endif;?>