<?php
$admins = Mage::helper('salesrep')->getAdminsList();
?>
<form method="post" id="salesrep_form" action="<?php echo $this->getUrl('checkout/onepage/saveSalesrepExpress') ?>">
  <div class="fieldset">
    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    <ul class="form-list">
      <li>
        <label for="salesrep_name" class="required"><em>*</em><?php echo Mage::getStoreConfig('salesrep/step_setup/step_label')?></label>
        <div class="input-box">
          <select id="salesrep_rep_id" name="rep_id" class="required-entry">
            <option value=""></option>
            <?php foreach($admins as $admin): ?>
            <option value="<?php echo $admin['value'] ?>"><?php echo $admin['label'] ?></option>
            <?php endforeach; ?>
          </select>
        </div>
        <div style="display: none;" id="advice-validate-select-salesrep-name" class="validation-advice">
          <?php echo Mage::getStoreConfig('salesrep/step_setup/step_error_msg')?>
        </div>
      </li>
    </ul>
  </div>
</form>
