<div id="algolia-autocomplete-container"></div>
<div id="fullcontent" class="mwishlists">
<?php
	echo $this->getMessagesBlock()->getGroupedHtml();
	$header_content=$this->getLayout()->createBlock('itoris_mwishlist/mwishlisthead');
	echo $header_content->toHtml();
	$tabs_content=$this->getLayout()->createBlock('itoris_mwishlist/mwishlisttabs');
	echo $tabs_content->toHtml();
?>
</div>
<script type="text/javascript">
	itorisWishlist = new Itoris.Wishlist(<?php echo $this->getJsonWishlistsConfig() ?>);
</script>