body, table.body, th, h1, h2, h3, h4, h5, h6, td, p, strong { font-family: Arial, Helvetica, sans-serif; font-weight: normal; }
body { margin: 0; padding: 0; text-align: left; color: #333333; background-color: #e5e5e5; }
body { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
table { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
img { -ms-interpolation-mode: bicubic; }
body { background: #ebebeb; font-size: 12px; margin: 0; padding: 0; }
table, table td { border-collapse: collapse; }
table td { vertical-align: top; }
a { color: #3696c2; }
.cell-content.product-info, .bundle-item, .bundle-item-parent.product-info, .bill-ship-to, .method-information { text-align: left; }
html, #background-table { background-color: #e5e5e5; }
#background-table { font-size: 12px; margin: 0 auto; padding: 0; }
.container-td { width: 100%; padding:20px 0 0 0; }
.container-table { width: 600px; margin: 0 auto; }
.top-content { background: #FFF; padding: 20px; }
table.logo-container { width: 100%; }
td.logo { padding:15px 17px 15px 20px; background:#FFF; }
.top-content-desc { text-align:right; vertical-align:middle;}
.top-content-desc p{ margin:0; padding:0; font-size:14px; color:#0e5881;}
.top-content-desc h2{ margin:0; padding:0; font-size:24px; color:#474747; font-weight:bold;}
.top-navi{ background:#e5e5e5; padding:7px 0 !important; text-align:right;}
.top-navi a{ height:26px; line-height:26px; font-size:13px; color:#606060 !important; text-transform:uppercase; padding:0 15px; border-left:solid 1px #5e5e5e; text-decoration:none; font-weight:bold; display:block;}
.top-navi table{ width:auto; float:right;}
.top-navi table tr td.company a{ border:0;}
.footer-bg-sec{ background:#2c2c2c; padding:50px 0px 20px 0px !important;}
.footer-bg-sec .footer-sec-text{ font-size:12px; color:#ffffff; line-height:17px; padding:0 0 0 20px !important;}
.footer-bg-sec .footer-logo-sec{ vertical-align:middle; padding-right:20px !important; text-align:right !important;}
.footer-bg-sec .footer-copyright{ font-size:11px; color:#ffffff; padding-top:30px !important; text-align:center !important;}
td.logo a { float: left; display: block; }
td.logo img { outline: none; text-decoration: none; }
td.email-heading { text-align: left; padding-bottom:20px; }
td.email-heading h1 { font-weight: bold; font-size: 14px; margin:0 0 15px 0; line-height: normal; color:#606060; }
td.email-heading p { line-height: 20px; margin:0; padding:0; font-size:13px; color:#606060;  }
td.email-heading p a{ color:#606060; text-decoration:underline;}
td.store-info { padding: 2%; background: #e1f0f8; width: 40%; }
td.store-info h4 { margin-bottom: 5px; font-size: 11px; }
td.store-info p { font-size: 11px; line-height: 17px; margin: 1em 0; }
td.store-info a { text-decoration: underline; color: #3696c2; }
td.order-details { padding:0 0 30px 0; text-align: left; border-bottom:solid 1px #e5e5e5; }
td.order-details h3 { font-size: 13px; margin: 0; font-weight: bold; color:#606060; }
td.order-details h3 span{ color:#0e5881; text-decoration:underline;}
td.order-details p { margin:0; font-size:13px; color:#606060; }
.items { width: 100%; padding: 10px 15px; }
.cell-name { padding: 10px 15px; background: #f1f1f1; font-weight: 700; text-transform: uppercase; text-align: left; font-size: 11px; }
.cell-name.align-center { text-align: center; }
.cell-name.align-right { text-align: right; }
.method-info, .method-info h6, .method-info p, .method-info strong { text-align: left; }
.cell-content { padding: 10px 15px; border-top: 1px solid #ebebeb; font-family: Arial, Helvetica, sans-serif; }
.product-info a.product-name { font-weight: 700; text-transform: uppercase; color: #3696c2; text-decoration: none; vertical-align: middle; float: left; width: 100%; display: block; }
.table-totals { width: 100%; background: #e1f0f8; }
.padding-totals { padding: 20px 15px; text-align: right; line-height: 20px; }
.padding-totals .last { width: 1px; white-space: nowrap; }
.table-totals table { width: 100%; }
.shipping { padding-bottom: 5px; }
.grand-total { border-top: 1px solid #c3ced4; padding-top: 5px; font-weight: 700; font-size: 15px; }
.shipping-information td { padding: 0 15px; }
.shipping-information > td > table { width: 100%; }
.address-details { padding-top: 0; }
.address-details, .method-info { text-align: left; padding:0; width:50%; }
.address-details h6, .method-info h6 { background:#327194; padding:0 12px; height:29px; line-height:29px; color:#FFF !important;  font-size:12px; font-weight:bold; margin:0; }
.address-details p { font-size: 13px; line-height: 18px; margin:0 !important; padding:0; }
.method-info p { font-size: 13px; margin: 0 !important; line-height: 18px; }
.method-info .bg, .address-details .bg{ padding-right:10px; margin-bottom:7px;}
.method-info .bg2, .address-details .bg2{ padding-left:10px; margin-bottom:7px;}
.method-info .border-text, .address-details .border-text{ padding:12px; border:solid 1px #e5e5e5; font-size:13px; color:#606060; line-height:18px;}
.order-information table.main-table-order { border:0 !important; }
.order-information table.main-table-order thead tr th { background:#327194 !important; color:#FFF !important; padding:0px 12px !important; height:29px; line-height:29px;}
.order-information table.main-table-order tbody tr td { font-size:13px !important; color:#606060 !important; border:0 !important; padding:10px !important; border:solid 1px #e5e5e5 !important; border-width:0 1px 1px 1px; background:#FFF !important; vertical-align:middle !important; font-weight:bold !important; }
.order-information table.main-table-order tbody tr td p{ margin:0 !important; padding:0; font-weight:bold !important;}
.order-information table.main-table-order tbody tr td strong { font-size:13px !important; color:#606060 !important; font-weight:bold !important; margin-top:5px; display:block; }
.order-information table.main-table-order tfoot tr td { font-size:13px !important; color:#606060 !important; padding:2px 10px !important; background:#FFF !important; vertical-align:middle !important; font-weight:bold !important; }
.order-information table.main-table-order tfoot tr td:first-child{ border:solid 1px #e5e5e5 !important; border-width:0px 0 0 1px !important;}
.order-information table.main-table-order tfoot tr td:last-child{ border:solid 1px #e5e5e5 !important; border-width:0px 1px 0px 0 !important;}
.order-information table.main-table-order tfoot tr.grand_total td strong { font-size:20px !important; color:#0e5881 !important; font-weight:bold !important; }
.order-information table.main-table-order tfoot tr td { padding:1px 10px !important; }
.order-information table.main-table-order tfoot tr:first-child td{ padding-top:10px !important;}
.order-information table.main-table-order tfoot tr:last-child td{ padding-bottom:10px !important; }
.order-information table.main-table-order tfoot tr:last-child  td:first-child{ border:solid 1px #e5e5e5 !important; border-width:0px 0 1px 1px !important;}
.order-information table.main-table-order tfoot tr:last-child  td:last-child{ border:solid 1px #e5e5e5 !important; border-width:0px 1px 1px 0 !important;}
.product-info > p, .product-info > dl { float: left; width: 100%; display: block; }
.product-info > dl { line-height: 20px; }
.action-content { padding:0; line-height: 18px; }
.action-content h1 { font-size: 14px; font-weight: bold; margin-bottom: 25px; margin-top: 5px; line-height: 28px; color:#606060; }
.line-separator { height: 5px; }
.method-info p, .method-info dl { padding: 0; }
.message-container { margin: 15px 0; width: 100%; background-color: #fffdd9; border: 1px solid #fff74c; }
.order-information > td{ padding-top:9px;}
.message-container, .order-information > td > table,
.top-content > table { width: 100%; }
.message-container td { padding: 10px 15px; margin: 0; }
.highlighted-text { border: 1px solid #c3ced4; padding: 13px 18px; background: #f1f1f1; }
.bundle-item { padding: 0px 15px; text-align: left; }
.bundle-item-parent { border-top: 1px solid #ebebeb; padding: 10px 15px; }
.bundle-item-parent.product-info { text-align: left; }
.bundle-item > div, .bundle-item > strong { float: left; width: 100%; display: block; }
.bundle-item.bundle-details > div { margin-bottom: 15px; }
.action-button { width: 220px; margin: 0 auto; text-align: center; }
.action-button td { background-color: #3696c2; color: #FFF; width: 100%; height: 40px; display: block; border: 0 none; text-align: center; text-transform: uppercase; vertical-align: middle; white-space: nowrap; margin: 0 auto; }
.action-button a { width: 100%; height: 100%; line-height: 40px; font-size: 15px; display: inline-block; text-decoration: none; }
.action-button a span { color: #FFF; }
hr { background-color: #D9D9D9; border: medium none; color: #D9D9D9; height: 1px; margin-left: 3%; width: 94%;}
td.store-info h4 { font-size: 12px; margin-top: 13px; font-weight: bold; }
table, table td { padding: 0; margin: 0; }
table.columns.heading { margin-bottom: 3px; }
.main-image { width: 100%; margin-bottom: 3px; margin-top: 5px; }
table.row { padding: 0px; width: 100%; position: relative; }
table.container table.row { display: block; margin: 5px; }
td.wrapper { padding: 10px 0 0; position: relative; }
.full { width: 100%; }
.half { width: 50%; }
.half.left { padding-right: 5px; padding-left: 10px; }
.half.right { padding-left: 5px; }
.columns { width: 100%; }
td.expander { visibility: hidden; width: 0px; padding: 0; }
table.button { width: 100%; overflow: hidden; }
table.button td, table.social-button td { display: block; width: auto; text-align: center; color: #FFF; padding: 8px 4%; cursor: pointer; }
.social-button { width: 94%; margin: 5px 3%; }
table.button td { background: #3696c2; }
table.social-button td { padding: 5px 4%; }
table.button td a, table.social-button td a { color: #FFF; font-size: 16px; text-transform: uppercase; text-decoration: none; }
table.social-button td a { font-size: 12px; font-weight: normal; }
.panel { background-color: #F2F2F2; border: 1px solid #D9D9D9; }
.panel p { margin: 10px; }
.panel h6 { font-size: 20px; margin: 15px 10px; }
.panel a { color: #3696c2; text-decoration: none; }
.sidebar-links table { width: 100%; }
.sidebar-links td { width: 100%; }
.sidebar-links a { margin: 8px 0; float: left; width: 100%; text-align: left;}
.sidebar-links table p { margin: 0 10px; }
.sidebar-links a span { margin-left: 3%; }
table.facebook td, table.twitter td, table.google-plus td, table.facebook td a, table.twitter td a, table.google-plus td a { text-align: center; height: 17px; }
table.facebook td { background: #3B5998; }
table.twitter td { background: #00ACEE; }
table.google-plus td { background: #DB4A39; }
h2.products { padding-left: 10px; padding-right: 10px; }
.products-grid > tr > td { width: 25%; }
.products-grid > tr > td img { width: 100%; height: auto; }
.products-grid .product-wrapper { padding-left: 10px; padding-right: 10px; }
.product-name { margin: 0 0 5px 0; color: #636363; font-style: normal; text-rendering: optimizeLegibility; text-transform: uppercase; line-height: 1.4; font-size: 14px; }
p.product-name { font-weight: bold; }
p.sku { margin: 0 0 5px; }
.price-box { margin: 7px 0; font-family: Arial, Helvetica, sans-serif; }
.price-box p { margin-bottom: 0; }
.price-notice { color: #a0a0a0; }
.price-box .price { color: #3399cc; font-size: 16px; }
.price-box .price, .price { font-family: Arial, Helvetica, sans-serif; }
.price-box .price-label { color: #a0a0a0; white-space: nowrap; font-family: Arial, Helvetica, sans-serif; }
.price-box .minimal-price-link { padding-left: 1em; color: #3399cc; display: block; }
.price-box .minimal-price-link .label { color: #a0a0a0; }
.price-box .old-price, .price-box .special-price { display: inline-block; }
.price-box .old-price .price-label, .price-box .special-price .price-label { display: none; }
.price-box .old-price .price, .price-box .special-price .price { display: inline-block; }
.price-box .old-price .price { color: #a0a0a0; text-decoration: line-through; }
.price-box .special-price { color: #3399cc; padding-left: 1em; }
.price-box .special-price .price-label { color: #D84D3C; }
.price-box .price-excluding-tax, .price-box .price-including-tax { display: block; }

