<?php
    $_productCollection = $this->getData('products');
    $counter = $this->getData('counter');
?>
    <?php foreach ($_productCollection as $product): ?>
        <?php $counter++ ?>
        <div class="category-product-item grid-item">
            <h5>
                <a href="<?php echo $product['url']; ?>">
                    <?php if(!empty($product['comboview_single_item_title'])): ?>
                        <?php echo $product['comboview_single_item_title']; ?>
                    <?php else: ?>
                        <?php echo $product['name']; ?>
                    <?php endif ?>
                </a>
            </h5>
            <div class="img-box">
                <img src="<?php echo $product['image'] ?>">
            </div>
            <a href="<?php echo $product['url']; ?>">
                <?php if(!empty($product['lumens_slider'])): ?>
                    <?php echo $product['lumens_slider']; ?>
                <?php elseif(!empty($product['short_group_description'])): ?>
                    <?php echo $product['short_group_description']; ?>
                <?php else: ?>
                    <?php echo $product['name']; ?>
                <?php endif ?>
            </a>
        </div>
        <?php if($counter%4 == 0): ?>
            </div><div class="combo-categ-wrapper">
        <?php endif ?>
    <?php endforeach; ?>
