<?php
/**
 * @var $this Mage_Catalog_Block_Product_List
 */
?>
<div class="combo-categ-container">
    <div class="category-products">
        <?php echo $this->renderCategoryTree(); ?>
    </div>
</div>

<script type="text/javascript">

    var FlagInit200ORMore = false;
    var FlagInit = true;
    function init1200ORMore() {
        var widthWindow = jQuery(window).width();
        //console.log(widthWindow);
        if (widthWindow >= 1184) {
            FlagInit200ORMore = true;
            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt").removeClass('open').addClass('closed');
            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt").next().attr('style','').removeClass('hide-sub').addClass('show-sub');
            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt").parent().css('z-index', '99');

            var arrHeight5Li = [];
            var arrHeightAllLi = [];

            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dd").each(function (i, elementParent) {

                var sumHeight5Li = 0;
                var allSummHeighLi = 0;

                jQuery(this).find('li').each(function (j, elementLi) {
                    if (j < 5) {
                        sumHeight5Li += parseInt(jQuery(elementLi).outerHeight(true));
                    }
                    allSummHeighLi += parseInt(jQuery(elementLi).outerHeight(true));
                });

                arrHeight5Li.push(sumHeight5Li);
                arrHeightAllLi[jQuery(this).find('ol').attr('id')] = allSummHeighLi;
            });

            var max = Math.max.apply(Math, arrHeight5Li);
            if(FlagInit) {
                FlagInit = false;
                jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dd .MaxTest444").each(function (i, elementParent) {

                    var countItemLi = jQuery(this).find('li').length;
                    if (countItemLi > 6) {
                        jQuery(this).after('<div class="space" style="height: 4px;text-align: center;margin-top: -3px;">▼</div>');
                    }
                });
            }
            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dd .MaxTest444").each(function (i, elementParent) {
                jQuery(this).innerHeight(max + 6);
            });


            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dd ol").scroll(function (i, elementParent) {
                //console.log('scroll');
                var widthWindow = jQuery(window).width();
                if (widthWindow >= 1184) {
                    var heightAll = arrHeightAllLi[jQuery(this).attr('id')];
                    var scrollTop = parseInt(jQuery(this).scrollTop());
                    var heightVisibleBlock = parseInt(jQuery(this).height());
                    if (parseInt(heightAll - heightVisibleBlock) <= scrollTop) {
                        jQuery(this).parent().next().text('');
                    } else {
                        jQuery(this).parent().next().text('▼');
                    }
                }
            });

        }else{
            if(FlagInit200ORMore){
                jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt").next().attr('style','display: none;').removeClass('show-sub').addClass('hide-sub').find('.MaxTest444').attr('style','');
                FlagInit200ORMore = false;
            }
        }
    }
 var FlagAnimation  = true;
    function init1200ORLess() {
        jQuery(document).on('click touch',".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt",function () {
            if(FlagAnimation) {
                FlagAnimation = false;
                var widthWindow = jQuery(window).width();
                if (widthWindow < 1184) {
                    if (jQuery(this).hasClass('closed')) {
                        jQuery(this).removeClass('closed').addClass('open');
                        jQuery(this).next().slideToggle().removeClass('show-sub').addClass('hide-sub');
                        jQuery(this).parent().css('z-index', '9');
                    } else {
                        jQuery(this).removeClass('open').addClass('closed');
                        jQuery(this).next().slideToggle().removeClass('hide-sub').addClass('show-sub');
                        jQuery(this).parent().css('z-index', '99');
                    }
                }
                setTimeout("FlagAnimation = true",100);
            }
        });
    }

    jQuery(window).bind('resize', function(e){

        var widthWindow = jQuery(window).width();

        init1200ORMore();
    });


    jQuery(function() {

        init1200ORLess();
        init1200ORMore();

    });


    /************************************************/

    jQuery(function() {
        jQuery(".block.block-layered-nav-top .block-title").click(function () {
            if (jQuery(this).hasClass('closed')) {
                jQuery(this).removeClass('closed').addClass('open');
                jQuery(this).next().slideToggle().removeClass('show-sub').addClass('hide-sub');
            } else {
                jQuery(this).removeClass('open').addClass('closed');
                jQuery(this).next().slideToggle().removeClass('hide-sub').addClass('show-sub');
            }
        });
    });

    jQuery(function() {
        jQuery(".block.block-layered-nav .block-title").click(function () {
            if (jQuery(this).hasClass('closed')) {
                jQuery(this).removeClass('closed').addClass('open');
                jQuery(this).next().slideToggle().removeClass('show-sub').addClass('hide-sub');
            } else {
                jQuery(this).removeClass('open').addClass('closed');
                jQuery(this).next().slideToggle().removeClass('hide-sub').addClass('show-sub');
            }
        });
    });

    jQuery(function() {
        jQuery(".block.block-layered-nav .block-content #aw-ln-filters-container dt").click(function () {
            if (jQuery(this).hasClass('closed')) {
                jQuery(this).removeClass('closed').addClass('open');
                jQuery(this).next().slideToggle().removeClass('show-sub').addClass('hide-sub');
            } else {
                jQuery(this).removeClass('open').addClass('closed');
                jQuery(this).next().slideToggle().removeClass('hide-sub').addClass('show-sub');
            }
        });
    });

    jQuery(document).ready(function(){
        var productCnt = jQuery(".toolbar .amount .amount-raw").text();
        var cntString = "<li class='breadcrumbs-last'>" + productCnt + " Items</li>";
        if(jQuery('.bredcumb-setion .breadcrumb li').last().hasClass('breadcrumbs-last')){
            jQuery('.bredcumb-setion .breadcrumb li').last().remove();
            jQuery('.bredcumb-setion .breadcrumb li').last().after(cntString);
        }else{
            jQuery('.bredcumb-setion .breadcrumb li').last().after(cntString);
        }
    });
</script>
