<?php

/**
 * MageWorx
 * CustomOptions Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_CustomOptions
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */

/* @var $this Mage_Catalog_Block_Product_View_Options_Type_Select */
$productOptions = Mage::getModel("catalog/product")->load(Mage::app()->getRequest()->getParam('id'));
$countOption = array();
foreach ($productOptions->getOptions() as $_option) {
    $countOption[] = strtolower($_option->getData('title'));
}

$_option = $this->getOption();
$helper = Mage::helper('mageworx_customoptions');
$valuesHtml = $this->getValuesHtml();

$qtyInputType = ($helper->isProductQtyDecimal($this->getProduct())) ? 'type="number" pattern="[0-9]+([\,|\.][0-9]+)?" step="0.01"' : 'type="number" pattern="[0-9]+([\,|\.][0-9]+)?"' ;

if ($valuesHtml) { ?>
<div data-cnt="<?php echo array_search(strtolower($this->htmlEscape($_option->getTitle())),$countOption)?>" <?php if ($helper->hideDependentOption() && $_option->getIsDependent()) { ?>style="display: none;"<?php } ?> class="option<?php if ($_option->getType()==MageWorx_CustomOptions_Model_Catalog_Product_Option::OPTION_TYPE_HIDDEN) echo ' hidden'; if ($helper->isSpecifyingCssClassEnabled() && $_option->getDivClass()) echo ' '.$_option->getDivClass(); ?>">
    <?php if ($_option->getType()==MageWorx_CustomOptions_Model_Catalog_Product_Option::OPTION_TYPE_HIDDEN) {
        echo $valuesHtml; ?>
        <input type="hidden" class="option_value" id="value_option_<?php echo $_option->getId() ?>" value="0" />
    <?php
    } else { ?>
    <dl>
    <dt>
        <label><?php echo $this->htmlEscape($_option->getTitle()) ?><?php if ($_option->getIsRequire(true)): ?><span class="required">&nbsp;*</span><?php endif; ?></label>
        <?php echo $helper->getOptionDescription($_option); ?>
    </dt>
    <dd<?php if ($_option->decoratedIsLast) { ?> class="last"<?php } ?>>
        <?php echo $valuesHtml ?>
        <?php if ($_option->getIsRequire(true)): ?>
        <?php if ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_RADIO || $_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_CHECKBOX): ?>
                    <span id="options-<?php echo $_option->getId() ?>-container"></span>
        <?php endif; ?>
        <?php endif; ?>
        <?php if ($helper->isQntyInputEnabled() && $_option->getQntyInput() && $_option->getType()!=Mage_Catalog_Model_Product_Option::OPTION_TYPE_CHECKBOX && $_option->getType()!=MageWorx_CustomOptions_Model_Catalog_Product_Option::OPTION_TYPE_MULTISWATCH): ?>
            <span class="qty-holder">
                <label class="label-qty"><?php echo $helper->getDefaultOptionQtyLabel() ?>
                    <input <?php echo $qtyInputType; ?> class="qty <?php if ($_option->getIsRequire(true)) echo 'validate-greater-than-zero'; else echo 'validate-zero-or-greater'; ?>" 
                           value="<?php echo ($_option->getOptionQty()?$_option->getOptionQty():1) ?>" maxlength="12" min="0"
                           id="options_<?php echo $_option->getId() ?>_qty" name="options_<?php echo $_option->getId() ?>_qty"
                           pattern="\d*"
                           onchange="opConfig.reloadPrice(); <?php if ($_option->getIsXQtyEnabled()) { ?>optionSetQtyProduct.setQty();<?php } if ($_option->getIsDependentLQty()) { ?>optionSetQtyProduct.checkLimitQty(<?php echo $_option->getId() ?>, this);<?php } ?>" 
                           onKeyPress="if(event.keyCode==13){opConfig.reloadPrice(); <?php if ($_option->getIsXQtyEnabled()) { ?>optionSetQtyProduct.setQty();<?php } if ($_option->getIsDependentLQty()) { ?>optionSetQtyProduct.checkLimitQty(<?php echo $_option->getId() ?>, this);<?php } ?>}">
                </label>
            </span>
        <?php endif; ?>
        <?php if ($_option->isContainOptionsPercentPriceType()) : ?>
            <p class="note"><?php echo $this->__('Current option price:') ?> <strong name="<?php echo $_option->getId() ?>" class="option_current_price" id="current_price_option_<?php echo $_option->getId() ?>">0</strong></p>
        <?php endif; ?>
        <?php if ($_option->getIsDependentLQty()) { ?>
            <span class="limit-holder"><?php echo $this->__('Items left:') ?> <strong id="total_limit_<?php echo $_option->getId() ?>">0</strong></span>
        <?php } ?>
        <input type="hidden" class="option_value" id="value_option_<?php echo $_option->getId() ?>" value="0" />
        <div class="hidden-field custom-field">You can not select this item</div>
    </dd></dl>
    <?php } ?>
</div>
<?php } ?>
