<?php
$current_product = Mage::registry('current_product');

if ($current_product->getId()) {
?>
  <div class="entry-edit">
    <div class="entry-edit-head">
      <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Commission');?></h4>
    </div>
    <div id="_salesrep_admins_fieldset" class="fieldset ">
      <div class="hor-scroll">
        <table cellspacing="0" class="form-list">
        <tbody>
        <tr>
          <td class="label">
            <label for="salesrep_admin"><?php echo $this->__('Commission');?></label>
          </td>
          <td class="value">
            <input type="text" name="salesrep_rep_commission_rate" id="salesrep_rep_commission_rate_id" value="<?php echo Mage::helper('salesrep')->getPercent($current_product->getSalesrepRepCommissionRate()); ?>">
            <br />
            <i><?php echo $this->__('Override all other commission rates for this specific product. If left blank, the sales representative commission rate will be used. If that is also blank, the default rate will be used.');?></i>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
<?php
}
?>
