<?php
$current_customer = Mage::registry('current_customer');
?>
<div class="entry-edit-head">
  <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Notifications');?></h4>
  <div class="form-buttons"></div>
</div>
<div id="_accountpassword_fieldset" class="fieldset ">
  <div class="hor-scroll">
    <table cellspacing="0" class="form-list">
    <tbody>
    <tr>
      <td class="label">
        <label for="salesrep_notify_when_order_placed"><?php echo $this->__('Notify when order placed');?></label>
      </td>
      <td class="value">
        <input type="hidden"name="salesrep_notify_when_order_placed" value="0">
        <input type="checkbox"
               id="salesrep_notify_when_order_placed"
               name="salesrep_notify_when_order_placed"
               value="1"
               <?php echo ($current_customer->getSalesrepNotifyWhenOrderPlaced())? ' checked':'';?>
        >
      </td>
    </tr>
    <tr>
      </td>
      <td class="label">
        <label for="salesrep_notify_when_order_shipped"><?php echo $this->__('Notify when order shipped');?></label>
      </td>
      <td class="value">
        <input type="hidden" name="salesrep_notify_when_order_shipped" value="0">
        <input type="checkbox"
               id="salesrep_notify_when_order_shipped"
               name="salesrep_notify_when_order_shipped"
               value="1"
            <?php echo ($current_customer->getSalesrepNotifyWhenOrderShipped())? ' checked':'';?>
        >
      </td>
    </tr>
    </tbody>
    </table>
  </div>
</div>
