<?php

?>
<ul class="form-list" id="payment_form_giftcard" style="display:none;">
    <li>
        <label for="card_number" class="required"><em>*</em>Credit Number</label>
        <div class="input-box">
            <input type="text" id="card_number" name="payment[gift_card_number]" title="Credit Number" class="input-text required-entry" value="" />
        </div>
    </li>
    <li>
        <label for="pin_number" class="required"><em>*</em>Credit PIN</label>
        <div class="input-box">
            <input type="text" id="pin_number" name="payment[gift_pin_number]" title="PIN Number" class="input-text required-entry" value="" />
        </div>
    </li>
</ul>