<?php $j=0;
$reviewcount=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showreviewcount');




$_items = $this->getReviewsCollection()->getItems();?>
<?php if (count($_items)):?>
    <dl>
	<?php foreach ($_items as $_review):?>
              <dt>
		    <a href="<?php echo $this->getReviewUrl($_review->getId()) ?>"><?php echo $this->htmlEscape($_review->getTitle()) ?></a> Review by <span><?php echo $this->htmlEscape($_review->getNickname()); ?></span>       
	      </dt>
	      <dd>
                <?php $_votes = $_review->getRatingVotes(); ?>
                <?php if (count($_votes)): ?>
                <table class="ratings-table">
                    <col width="1" />
                    <col />
                    <tbody>
                        <?php foreach ($_votes as $_vote): ?>
                        <tr>
                            <th><?php echo $this->escapeHtml($_vote->getRatingCode()) ?></th>
                            <td>
                                <div class="rating-box">
                                    <div class="rating" style="width:<?php echo $_vote->getPercent() ?>%;"></div>
                                </div>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
                <?php endif; ?>
                <?php echo $this->htmlEscape($_review->getDetail()); ?>
                <small class="date"><?php echo $this->__('(Posted on %s)', $this->formatDate($_review->getCreatedAt()), 'long') ?></small>
            </dd>
	  <?php if (++$j == $reviewcount) break; ?>
	  <?php endforeach; ?>
    </dl>
<?php endif;?>	