<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = Mage::registry('current_product'); ?>

<?php if ($_product->getTypeId() == "configurable"): ?>
    <?php $configurableProduct = Mage::getModel('catalog/product_type_configurable')->setProduct($_product); ?>
    <?php $simpleCollection = $configurableProduct->getUsedProductCollection()->addAttributeToSelect('*')->addFilterByRequiredOptions() ?>
    <?php $limit = 6; ?>
    <div class="col-sm-4 description-other readyship-section">
        <div class="cover">
            <h2><?php echo $this->__("Ready to Ship") ?></h2>
            <div class="std product-readyship">
                <ul>
                    <?php $cnt=0; foreach ($simpleCollection as $_simple): ?>
                        <?php $attr = $_product->getResource()->getAttribute("shipping"); ?>
                        <?php if ($attr->usesSource()): ?>
                            <?php $shipping_label = $attr->getSource()->getOptionText($_simple->getShipping()); ?>
                            <?php if ($shipping_label == 'Ready2Ship'):  $cnt++; ?>
                                <?php if($cnt>$limit) break; ?>
                                <li><?php echo $this->__("<span>SKU #:</span> %s", $_simple->getSku()) ?></li>
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>
<script>
    jQuery(document).ready(function (){
        <?php if($cnt==0): ?>
            jQuery('.readyship-section').hide();
        <?php endif; ?>
    });
</script>