<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>
<html>
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>

    <?php echo $this->getChildHtml('after_body_start') ?>
    <?php echo $this->getChildHtml('header') ?>
	
    <div class="content-cover">
    
    <?php if(Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms'): ?>
		<?php if(Mage::getBlockSingleton('cms/page')->getPage()->background): ?>
            <div class="cms-image-section cleafix">
                <div style="background-image: url('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . Mage::getBlockSingleton('cms/page')->getPage()->background; ?>');" class="cms-content-img"></div>   
                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . Mage::getBlockSingleton('cms/page')->getPage()->background; ?>" alt="" title="" class="cms-banner-img" />
            </div>
        <?php else: ?>
            <div class="bredcumb-setion">
                <div class="container">
                    <?php echo $this->getChildHtml('global_notices') ?>
                    <?php echo $this->getChildHtml('breadcrumbs') ?>
                </div>
            </div>
        <?php endif; ?> 
    <?php else: ?>
        <div class="bredcumb-setion">
           <div class="container">
               <?php echo $this->getChildHtml('global_notices') ?>
               <?php echo $this->getChildHtml('breadcrumbs') ?>
           </div>
        </div>
    <?php endif; ?>    
    <div class="container">
        <div class="layout layout-1-col">
            <div role="main">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('content') ?>
            </div>
        </div>

    </div>
    </div>
    <?php echo $this->getChildHtml('product-refrence') ?>

    <?php echo $this->getChildHtml('footer') ?>
    <?php echo $this->getChildHtml('before_body_end') ?>
    <?php echo $this->getAbsoluteFooter() ?>

</body>
</html>
