<?php
$current_admin = Mage::getSingleton('admin/session')->getUser();
?>
<div class="page-create-order">
<p class="switcher">
<label for="currency_switcher"><?php echo Mage::helper('sales')->__('Order Currency:') ?></label>
<select id="currency_switcher" name="order[currency]" onchange="order.setCurrencyId(this.value); order.setCurrencySymbol(this.options[this.selectedIndex].getAttribute('symbol'));">
  <?php foreach ($this->getAvailableCurrencies() as $_code): ?>
  <option value="<?php echo $_code ?>"<?php if($_code==$this->getCurrentCurrencyCode()): ?> selected="selected"<?php endif; ?> symbol="<?php echo $this->getCurrencySymbol($_code) ?>"><?php echo $this->getCurrencyName($_code) ?></option>
  <?php endforeach; ?>
</select>
</p>
<script type="text/javascript">order.setCurrencySymbol('<?php echo $this->getCurrencySymbol($this->getCurrentCurrencyCode()) ?>')</script>
<table cellspacing="0" width="100%">
<tr>
  <?php if($this->getCustomerId()): ?>
  <td class="side-col" style="background:none; padding:0;">
    <div id="order-sidebar"><?php echo $this->getChildHtml('sidebar') ?></div>
  </td>
  <?php endif; ?>
  <td <?php if($this->getCustomerId()): ?>class="main-col"<?php endif; ?>>
     <div id="order-search" style="display:none" class="order-search-items"><?php echo $this->getChildHtml('search') ?></div>
    <div id="order-items"><?php echo $this->getChildHtml('items') ?></div>

    <div id="order-form_account">
      <?php echo $this->getChildHtml('form_account') ?>
    </div>

    <div>
      <?php
      if (Mage::getStoreConfig('salesrep/step_setup/admin_step_enabled')) {
        $admins = Mage::getModel('LucidPath_SalesRepDeluxe_Model_Source_UsersList')->toOptionArray();

        if (!($salesrep_rep_id = $this->getCustomer()->getSalesrepRepId())) {
          $salesrep_rep_id = Mage::getSingleton('admin/session')->getUser()->getId();
        }
      ?>
        <div class="entry-edit">
          <div class="entry-edit-head">
            <h4 class="icon-head head-salesrep"><?php echo Mage::helper('sales')->__('Sales Representative') ?></h4>
          </div>
          <fieldset>
            <ul class="form-list">
              <li>
                <div class="input-box">
                  <table border="0">
                  <tr>
                    <td>
        <?php echo $this->__('Name:');?>
                    </td>
                    <td width="16"></td>
                    <td>
                      <?php
                      if (Mage::getSingleton('admin/session')->isAllowed('sales/order/actions/salesrep/change_salesrep_name')) {
                      ?>
                        <select style="width: 200px;" id="salesrep_rep_id" name="salesrep_rep_id">
                          <?php foreach($admins as $admin): ?>
                          <option <?php if ($salesrep_rep_id == $admin['value']) echo 'selected="selected"';?> value="<?php echo $admin['value'] ?>"><?php echo $admin['label'] ?></option>
                          <?php endforeach; ?>
                        </select>
                      <?php
                      } else {
                        echo $current_admin->getFirstname() ." ". $current_admin->getLastname();
                        echo '<input type="hidden" id="salesrep_rep_id" name="salesrep_rep" value="'. $current_admin->getId() .'">';
                      }
                      ?>
                    </td>
                  </tr>
                  </table>
                </div>
              </li>
            </ul>
          </fieldset>
        </div>
      <?php
      } else {
      ?>
        <input type="hidden" name="salesrep_rep" value="<?php echo $current_admin->getId(); ?>" />
      <?php
      }
      ?>
    </div>


    <div id="order-addresses">
      <div id="order-billing_address" class="box-left"><?php echo $this->getChildHtml('billing_address') ?></div>
      <div id="order-shipping_address" class="box-right"><?php echo $this->getChildHtml('shipping_address') ?></div>
    </div>

    <div class="clear"></div>
    <div id="order-methods">
      <div id="order-billing_method" class="box-left payments"><?php echo $this->getChildHtml('billing_method') ?></div>
      <div id="order-shipping_method" class="box-right"><?php echo $this->getChildHtml('shipping_method') ?></div>
    </div>

    <?php if($this->getChild('card_validation')): ?>
    <div class="clear"></div>
    <div id="order-methods">
      <div id="order-card_validation" class="box-left payments"><?php echo $this->getChildHtml('card_validation') ?></div>
    </div>
    <?php endif; ?>

    <div class="clear"></div>
    <?php echo $this->getChildHtml('gift_options') ?>

    <div class="clear"></div>
    <div class="box-left entry-edit">
      <div class="entry-edit-head"><h4><?php echo Mage::helper('sales')->__('Order History') ?></h4></div>
      <fieldset id="order-comment"><?php echo $this->getChildHtml('comment') ?></fieldset>
    </div>
    <div class="box-right entry-edit">
      <div class="entry-edit-head"><h4><?php echo Mage::helper('sales')->__('Order Totals') ?></h4></div>
      <div id="order-totals" class="order-totals"><?php echo $this->getChildHtml('totals') ?></div>
    </div>
    <div class="clear"></div>
  </td>
</tr>
</table>
</div>
