<div class="company-brand-section">
	<h3><?php echo $this->__("Brands We Carry")?></h3>
    <div class="clearfix company-brand-sectionbg">
    	<div class="container">
        	<ul class="company-brand-slider">
            <?php 
			$categoriesCollection = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('name')->load();
			foreach ($categoriesCollection as $cat):
			if($cat->getName() == "Brands"):
				$CatId = $cat->getId();
			endif;
			endforeach;
			$category = $this->getcustomCategoriesdata($CatId);
			$categories = Mage::getModel('catalog/category')->load($CatId)->getChildrenCategories();
			$counter = 1;
			foreach($categories as $sub_category):?>
            <?php $sub_category_id = Mage::getModel('catalog/category')->load($sub_category->getId());  ?>
            <?php if($counter% 2 != 0) : ?>
            	<li>
                <?php endif;   ?>
                	<div class="brand-section">
                    	<a href="<?php echo $sub_category_id->getUrl() ?>" title="<?php echo $sub_category_id->getName() ?>">
                        	<h4><span><?php echo $sub_category_id->getName() ?></span></h4>
                            <div class="brand-img">
                            	<div class="brand-img-center">
                                	<img src="<?php echo Mage::getModel("imageresize/resize")->getResizedImage(236,120 , $sub_category_id->getImage());?>" alt="<?php echo $sub_category_id->getName() ?>" title="<?php echo $sub_category_id->getName() ?>" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <?php if($counter% 2 == 0 || $counter == $_columnCount-1) : ?>
                </li>
                <?php endif; ?>
                <?php $counter++; endforeach ?>
            </ul>
        </div>
    </div>
</div>