<?php
$_helper = $this->helper('catalog/output');
$_category = $this->getCurrentCategory();
$_imgHtml = '';
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<p class="category-image"><img src="' . $_imgUrl . '" alt="' . $this->escapeHtml($_category->getName()) . '" title="' . $this->escapeHtml($_category->getName()) . '" /></p>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
}
$curr_cate = Mage::getModel("catalog/category")->load($_category->getId());
$children = $curr_cate->getChildrenCategories();
?>

<div class="category-section">
    <div class="container">
        <div class="display-middle">
            <div class="page-title category-title">
                <?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?>
            </div>
            <?php if ($_description = $this->getCurrentCategory()->getDescription()): ?>
                <div class="category-description std">
                    <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>

<div class="category-landing-sec">
    <div class="subcategory-grid">
        <div class="row">
            <?php foreach ($children as $category): ?>
                <?php $category = Mage::getModel('catalog/category')->load($category->getId()); ?>
                <?php $sub_children = $category->getChildrenCategories(); ?>	
                <?php $child_count = count($sub_children); ?>
                <div class="col-sm-6 cateegory-listing">
                    <div class="catgory-title-img">
                        <a href="<?php echo $category->getUrl() ?>" title="<?php echo $this->htmlEscape($category->getName()) ?>">
                            <h2><span><?php echo $category->getName() ?></span></h2>
                            <div class="cat-img">
                                <img src="<?php echo Mage::getModel("imageresize/resize")->getResizedImage(568, 192, $category->getImage()); ?>"  title="<?php echo $this->htmlEscape($category->getName()) ?>"/>
                            </div>
                        </a>
                    </div>

                    <?php $catcount = 1; ?>
                    <?php if ($child_count > 0): ?>
                        <div class="clearfix sub-details">
                            <h3><?php echo $this->__("Sub Categories") ?></h3>
                            <p class="view-all"><a href="<?php echo $category->getUrl() ?>" title="<?php echo $this->htmlEscape($category->getName()) ?>"><?php echo $this->__("View All Items") ?></a></p>

                            <ul class="cate-grid">
                                <?php foreach ($sub_children as $sub_category): ?>

                                    <?php $sub_cate = Mage::getModel('catalog/category')->load($sub_category->getId()); ?>
                                    <li>
                                        <a href="<?php echo $sub_cate->getUrl() ?>" title="<?php echo $this->htmlEscape($sub_cate->getName()) ?>">
                                            <?php echo $this->htmlEscape($sub_cate->getName()) ?>
                                        </a>
                                    </li>
                                    <?php if (($catcount % 4) == 0 && $child_count != $catcount): ?>
                                    </ul>
                                    <ul>
                                    <?php endif ?>
                                    <?php $catcount++ ?>
                                <?php endforeach; ?>
                            </ul>
                        </div> 
                    <?php endif; ?>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>