<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<?php $phase_out = $_product->getAttributeText('phasing_out') ?>
<?php $discontinued = $_product->getAttributeText('discontinued') ?>
<div id="quickview-image-browser">
<?php if ($phase_out == 'Yes'): ?>
    	<div class="top-quickview">
        	<img alt="<?php echo $this->__('Phase Out') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/phasing-out.png'); ?>" />
        </div>
    <?php endif; ?>
    
    <?php if ($discontinued == 'Yes'): ?>
    	<div class="top-imagefeatures" <?php if ($phase_out == 'Yes'): ?> style="right:85px;" <?php endif; ?>>
        	<img alt="<?php echo $this->__('Discontinued') ?>" src="<?php echo $this->getSkinUrl('images/feature-icons/discontinued-icon.png'); ?>" />
        </div>
    <?php endif; ?>
    
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<div class="product-image product-image-zoom">
    <?php
        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(428, 339).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</div>
<?php else: ?>
<div class="product-image">
    <?php
        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(428, 339).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</div>
<?php endif; ?>
</div>