<?php

/** @var Algolia_Algoliasearch_Helper_Config $config */
$config = Mage::helper('algoliasearch/config');

/** @var Mage_CatalogSearch_Helper_Data $catalogSearchHelper */
$catalogSearchHelper = $this->helper('catalogsearch');

$placeholder = $this->__('Search by Item or Part # ...');

/** Render form with autocomplete input **/
if ($config->isDefaultSelector()): ?>
    <form id="search_mini_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
    <div class="search-header">
    	<span>Search</span>
    </div>
    <div class="form-search">
        <div id="algolia-searchbox" class="input-group">
            <span class="input-group-addon"><label for="search"><?php echo $this->__('Search:') ?></label></span>
            <input id="search" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" class="input-text algolia-search-input form-control" autocomplete="off" spellcheck="false" autocorrect="off" autocapitalize="off" placeholder="<?php echo $placeholder; ?>" />
            <span class="input-group-btn">
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Search')) ?>" class="btn btn-default"><span><span><i class="fa fa-search"></i></span></span></button>
                 <span class="clear-cross clear-query-autocomplete"></span>
            </span>
           
        </div>
        </div>
    </form>
<?php endif; ?>