<?php
$current_user = Mage::registry('permissions_user');

$is_admin                       = Mage::getSingleton('admin/session')->isAllowed('system/config');
$edit_sales_rep_commission_rate = Mage::getSingleton('admin/session')->isAllowed('salesrep/user_management/edit_sales_rep_commission_rate');
$edit_manager_commission_rate   = Mage::getSingleton('admin/session')->isAllowed('salesrep/user_management/edit_manager_commission_rate');
$edit_assigned_manager          = Mage::getSingleton('admin/session')->isAllowed('salesrep/user_management/edit_assigned_manager');

$isBasedOnCustomerGroup = Mage::getStoreConfig('salesrep/setup/salesrep_commissions_based_on_customer_group');

$customerGroupCollection = $this->getCustomerGroupCollection();
?>
<?php if ($is_admin || $edit_sales_rep_commission_rate || $edit_manager_commission_rate) { ?>
  <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Commission Rates');?></h4>
    <div class="form-buttons"></div>
  </div>
  <div id="_commission_rate_fieldset" class="fieldset ">
    <div class="hor-scroll">
      <table cellspacing="0" class="form-list">
      <tbody>

        <?php if ($is_admin || $edit_sales_rep_commission_rate) { ?>
          <tr>
            <td class="label">
              <label for="salesrep_commission_rate"><?php echo $this->__('Commission Rate as Sales Representative');?></label>
            </td>
            <td class="value" style="width:500px;">
              <input type="text" name="salesrep_rep_commission_rate" id="salesrep_rep_commission_rate_id" value="<?php echo Mage::helper('salesrep')->getPercent($current_user->getSalesrepRepCommissionRate()); ?>">
              <br />
              <i><?php echo $this->__('Specify the commission rate that this user should earn on orders for which they are the *primary* sales representative. If left blank, the default commission rate will be used (specified under System -> Config -> Sales Representative Deluxe).');?></i>
            </td>
          </tr>
        <?php } ?>

        <?php if ($is_admin || $edit_manager_commission_rate) { ?>
          <tr>
            <td>
              <label for="manager_commission_rate"><?php echo $this->__('Commission Rate as Manager');?></label>
            </td>
            <td class="value">
              <input type="text" name="salesrep_manager_commission_rate" id="salesrep_manager_commission_rate_id" value="<?php echo Mage::helper('salesrep')->getPercent($current_user->getSalesrepManagerCommissionRate()); ?>">
              <br />
              <i><?php echo $this->__('Specify the commission rate that this user should earn on orders submitted by any sales representatives they manage. If this user does not manage any other users, values will be ignored.');?></i>
            </td>
          </tr>
        <?php } ?>
      </tbody>
      </table>
    </div>
  </div>
<?php } ?>

<?php if ($is_admin || $edit_assigned_manager) { ?>
  <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Sales Teams and Managers');?></h4>
    <div class="form-buttons"></div>
  </div>
  <div id="_manager_fieldset" class="fieldset ">
    <div class="hor-scroll">
      <table cellspacing="0" class="form-list">
      <tbody>
      <tr>
        <td class="label">
          <label for="manager"><?php echo $this->__('Manager');?></label>
        </td>
        <td class="value" style="width:500px;">
          <select class="select" name="salesrep_manager_id" id="salesrep_manager_id">
            <?php
            foreach ($this->getAdmins() as $admin) {
              $selected = '';
              if ($current_user->getSalesrepManagerId() == $admin['value']) {
                $selected = ' selected="selected"';
              }

              echo '<option value="'. $admin['value'] .'"'. $selected .'>'. $admin['label'] .'</option>';
            }
            ?>
          </select>
          <br />
          <i><?php echo $this->__('Specify a manager who should be credited for this user\'s orders. If this user does not have a manager or is himself a top-level manager, you should select \'No Manager\'.');?></i>
        </td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
<?php } ?>

<?php if ($isBasedOnCustomerGroup) { ?>
  <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Customer Groups Commission');?></h4>
    <div class="form-buttons"></div>
  </div>
  <div id="_manager_fieldset" class="fieldset ">
    <div class="hor-scroll">
      <i><?php echo $this->__('Specify the commission rate that this user should earn on orders placed by customer in customer group.');?></i>
      <br />
      <table cellspacing="0" class="form-list">
        <tbody>

        <?php foreach($customerGroupCollection as $customerGroup):?>
            <?php $groupCollectionData = Mage::getModel('salesrep/customergroup')
              ->getCollection()
              ->addFieldToFilter('admin_id', array('eq' => $current_user->getId()))
              ->addFieldToFilter('customer_group_id', array('eq' => $customerGroup->getId()));
          ?>
          <tr>
            <td class="label">
              <label for="salesrep_commission_customer_group[<?php echo $customerGroup->getId();?>]"><?php echo $customerGroup->getCustomerGroupCode();?></label>
            </td>
            <td class="value" style="width:500px;">
              <input type="text" name="salesrep_commission_customer_group[<?php echo $customerGroup->getId();?>]" id="salesrep_commission_customer_group[<?php echo $customerGroup->getId();?>]" value="<?php echo($groupCollectionData->getFirstItem())? $groupCollectionData->getFirstItem()->getCommission() : ''?>">
              <br />

            </td>
          </tr>
        <?php endforeach;?>
        </tbody>
      </table>
    </div>
  </div>
<?php } ?>
