<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<div id="quickview-image-browser">
    <div class="product-image product-image-zoom">
	<div class="product-image-gallery">
	    <img id="image-main"
		class="gallery-image visible"
		src="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>"
		alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>"
		title="<?php echo $this->escapeHtml($this->getImageLabel()); ?>" />

	    <?php
		$i=0;
		foreach ($this->getGalleryImages() as $_image):
		    $_imageUrl = $this->helper('catalog/image')
				      ->init($_product, 'image', $_image->getFile())
				      ->keepFrame(false)
				      ->constrainOnly(true)
				      ->resize(1200);
	    ?>
		<img id="image-<?php echo $i; ?>"
		    class="gallery-image"
		    src="<?php echo $_imageUrl; ?>"
		    data-zoom-image="<?php echo  $_imageUrl; ?>" />
	    <?php
		$i++;
		endforeach;
	    ?>
	</div>
    </div>

    <?php if (count($this->getGalleryImages()) > 0): ?>
	    <div class="more-views">
		
		<ul class="product-image-thumbs">
		<?php $i=0; foreach ($this->getGalleryImages() as $_image): ?>
		    <?php
		    if (($filterClass = $this->getGalleryFilterHelper()) && ($filterMethod = $this->getGalleryFilterMethod()) && !Mage::helper($filterClass)->$filterMethod($_product, $_image)):
			continue;
		    endif;
		    ?>
		    <li>
			<a class="thumb-link" href="#" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>" data-image-index="<?php echo $i; ?>">
			    <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(75); ?>"
				width="75" height="75" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" />
			</a>
		    </li>
		<?php $i++; endforeach; ?>
		</ul>
	    </div>
<?php endif; ?>
<?php echo $this->getChildHtml('after'); ?>
</div>
