<?php if (Mage::helper('lightboxdetail')->isEnabled()): ?>
<?php $lboxbordercolor=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/bordercolor'); 
$loadingimg= Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/mgkloaderimg');
if(empty($loadingimg)){  $selectedloader=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'magiklightbox/default/mgkloading.gif'; }
else{ $selectedloader = Mage::getBaseUrl('media').'magiklightbox'.DS.$loadingimg; }
$lboxwidth=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/viewwidth');
if($lboxwidth==''){$get_width=800;}else{$get_width=$lboxwidth;}

if($get_width >=440 && $get_width < 510){ ?>
<style>#mc_quickview #mcquickview { border: 6px solid <?php echo $lboxbordercolor;?> }
#mc_quickview{position: absolute}
#mc_quickview #mcquickview {
	width:440px; 
	min-height: 620px; 
	background:#FFF; 
	border-radius: 5px;
	margin: auto;
	position: absolute;
	box-shadow: 0 0 10px #000000;
	margin-top:110px;
	max-height:1000px;
        left:40%;
}
#mc_quickview #mcquickview .product-quickview{padding:20px;}
#mc_quickview #mcquickview .product-quickview .product-img-box{width:380px}
#mc_quickview #mcquickview .product-quickview .product-shop{width:375px; float:left; margin-top: 8px;}
#mc_quickview #mcquickview .product-quickview .product-shop button.button{margin-top: 6px;}
</style>
<?php }?>
<?php
if($get_width>=510 && $get_width < 710){ ?>
<style>#mc_quickview #mcquickview { border: 6px solid <?php echo $lboxbordercolor;?> }
#mc_quickview{position: absolute;}
#mc_quickview #mcquickview {
	width:510px; 
	min-height: 620px; 
	background:#FFF; 
	border-radius: 5px;
	margin: auto;
	position: absolute;
	box-shadow: 0 0 10px #000000;
	margin-top:110px;
	max-height:1000px;
        left:40%;
}
#mc_quickview #mcquickview .product-quickview{padding:20px;}
#mc_quickview #mcquickview .product-quickview .product-img-box{width:455px}
#mc_quickview #mcquickview .product-quickview .product-shop{width:458p; float:left; margin-top: 8px;   margin-left: 0;}
#mc_quickview #mcquickview .product-quickview .product-shop button.button{margin-top: 6px;}
</style>
<?php }?>
<?php
if($get_width >= 710 && $get_width < 800){ ?>
<style>#mc_quickview #mcquickview { border: 6px solid <?php echo $lboxbordercolor;?> }
#mc_quickview #mcquickview {
	width:710px; 
	min-height: 420px; 
	background:#FFF; 
	border-radius: 5px;
	margin: auto;
	position: relative;
	box-shadow: 0 0 10px #000000;
	margin-top:210px;
	max-height:500px;
        left:11px;
}
#mc_quickview #mcquickview .product-quickview{padding:20px;}
#mc_quickview #mcquickview .product-quickview .product-img-box{width:280px}
#mc_quickview #mcquickview .product-quickview .product-shop{width:360px; float:right; margin-top: 8px;   margin-left: 0;}
#mc_quickview #mcquickview .product-quickview .product-shop button.button{margin-top: 6px;}
</style>
<?php }?>


<div id="mc_quickview" style="display:none;"> 
    <div class="mgkpopup_block" id="mcquickview" style="display:none;"> <a id="mcquickview-close" title="close"> </a>
      <div id="magikloading" style="display:none;"><img src="<?php echo $selectedloader; ?>" alt="loading"></div>
	<div class="product-quickview" id="product-quickview"></div>
    </div>
</div>
<script type="text/javascript">
var $jQ=jQuery.noConflict();
$jQ(".mgkviewlightbox").click(function(e){
      $jQ('#mc_quickview').show();
      $jQ('#mcquickview').show();
      $jQ('#magikloading').show();
      showQuickView(this, e);
      $jQ(this).click(function() { return false; });
      e.preventDefault();
});
 
function showQuickView(link, e) {
$jQ( '#product-quickview').empty();
	var quickUrl = $jQ(link).data('url');
 
	$jQ.get(quickUrl, function(data) {
		 $jQ('#magikloading').hide();
		      $jQ('#product-quickview').html(data);

	});

$jQ("#mcquickview-close").click(function(){
	
	    $jQ('#mc_quickview').hide();
	    $jQ('#mcquickview').hide();
	    $jQ('#magikloading').hide();
$jQ( '#product-quickview').empty();
	  
	});    
}
</script>
<?php endif; ?>
 
