<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.3.14
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?> 
<?php $posts = $this->getPosts(); ?>
<?php if (count($posts)): ?>
<div class="blog-list-sec">
    <?php foreach ($posts as $post): ?>
        <div class="postWrapper">
        
        <?php if($post->getFeaturedImage()):?> 
        	<?php 
				$imagepath = $post->getFeaturedImage();
				$pathArr = explode("/", $imagepath);
				$image = $pathArr[1];
				$width = '1150';
				$height = '525';
				$image_url = Mage::getModel("imageresizeblog/resize")->getResizedImage($width, $height, $image);
			?>
            	<div class="post-img">
                	<a href="<?php echo $post->getAddress(); ?>" title="<?php echo $post->getTitle(); ?>">
	                	<img src="<?php echo $image_url ?>" alt="<?php echo $post->getTitle(); ?>" title="<?php echo $post->getTitle(); ?>" />
    	                <h2 class="post-title"><?php echo $post->getTitle(); ?></h2>
                    </a>
                </div>
            <?php else: ?>
            	<div class="post-img">
                	<a href="<?php echo $post->getAddress(); ?>" title="<?php echo $post->getTitle(); ?>" >
	                	<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>blog_img/default-blog-img.jpg" title="<?php echo $post->getTitle(); ?>" alt="<?php echo $post->getTitle(); ?>" />
    	                <h2 class="post-title"><?php echo $post->getTitle(); ?></h2>
                    </a>
                </div>
            <?php endif;?>
            <div class="postContent std">
            	<h3 class="post-time"><?php $_ct= new Zend_Date($post->getCreatedTime()); echo $_ct->toString('MMMM dd yyyy'); ?></h3>
               <?php $summary=$post->getPostContent(); echo mb_strimwidth($summary, 0, 330, '…'); ?>
                <div><a href="<?php echo $post->getAddress(); ?>" title="<?php echo $post->getTitle(); ?>" class="aw-blog-read-more" ><?php echo $this->__("Read More")?></a></div>
            </div>
        </div>
    <?php endforeach; ?>
    </div>
 <?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<?php else: ?>
<div class="blog-list-sec">
    <?php echo Mage::helper('blog')->__('No Posts in this Category.'); ?>
</div>
<?php endif; ?>
