<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.3.14
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $post = $this->getPost(); ?>
<div class="postWrapper">
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56658105f0e97254" async="async"></script>
<?php if($post->getFeaturedImage()):?> 
	<?php 
        $imagepath = $post->getFeaturedImage();
        $pathArr = explode("/", $imagepath);
        $image = $pathArr[1];
        $width = '1150';
        $height = '525';
        $image_url = Mage::getModel("imageresizeblog/resize")->getResizedImage($width, $height, $image);
    ?>
        <div class="post-img">
        	<a href="javascript:void(0)" >
            	<img src="<?php echo $image_url ?>" alt="<?php echo $post->getTitle(); ?>" title="<?php echo $post->getTitle(); ?>" />
            	<h2 class="post-title"><?php echo $post->getTitle(); ?></h2>
            </a>
        </div>
    <?php else: ?>
        <div class="post-img">
        	<a href="javascript:void(0)" >
            	<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>blog_img/default-blog-img.jpg" alt="" />
                <h2 class="post-title"><?php echo $post->getTitle(); ?></h2>
            </a>
        </div>
    <?php endif;?>
    
    <div class="post-image-slider">
    	<?php echo $post->getShortContent(); ?>
    </div>
    
    <div class="post-other-content clearfix">
        <div class="post-other-content-border">
            <div class="top-share clearfix">
                <div class="back-link"><a href="<?php echo $this->getUrl('blog') ?>"><?php echo $this->__("Back to Blog") ?></a></div>
                <div class="share-link">
                <label><?php echo $this->__("Share")?></label>
                <!-- Go to www.addthis.com/dashboard to generate a new set of sharing buttons -->
                <a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=<?php echo $post->getAddress(); ?>&pubid=ra-56658105f0e97254&ct=1&title=<?php echo $post->getTitle(); ?>&pco=tbxnj-1.0" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=<?php echo $post->getAddress(); ?>&pubid=ra-56658105f0e97254&ct=1&title=<?php echo $post->getTitle(); ?>&pco=tbxnj-1.0" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://api.addthis.com/oexchange/0.8/forward/pinterest/offer?url=<?php echo $post->getAddress(); ?>&pubid=ra-56658105f0e97254&ct=1&title=<?php echo $post->getTitle(); ?>&pco=tbxnj-1.0" target="_blank"><i class="fa fa-pinterest"></i></a>
                <a href="https://www.addthis.com/bookmark.php?source=tbx32nj-1.0&v=300&url=<?php echo $post->getAddress(); ?>&pubid=ra-56658105f0e97254&ct=1&title=<?php echo $post->getTitle(); ?>&pco=tbxnj-1.0" target="_blank" class="addthis-icon">&nbsp;</a>
                </div>
            </div>
            
            <div class="blog-details clearfix">
                <p><?php $_ct= new Zend_Date($post->getCreatedTime()); echo $_ct->toString('MMMM dd yyyy'); ?></p>
            </div>
            <div class="postContent"><?php echo $post->getPostContent(); ?></div>
        </div>
        <div class="top-share bottom-sahre clearfix">
                <div class="back-link"><a href="<?php echo $this->getUrl('blog') ?>"><?php echo $this->__("Back to Blog") ?></a></div>
                <div class="share-link">
                <label><?php echo $this->__("Share")?></label>
                <!-- Go to www.addthis.com/dashboard to generate a new set of sharing buttons -->
                <a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=<?php echo $post->getAddress(); ?>&pubid=ra-56658105f0e97254&ct=1&title=<?php echo $post->getTitle(); ?>&pco=tbxnj-1.0" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=<?php echo $post->getAddress(); ?>&pubid=ra-56658105f0e97254&ct=1&title=<?php echo $post->getTitle(); ?>&pco=tbxnj-1.0" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://api.addthis.com/oexchange/0.8/forward/pinterest/offer?url=<?php echo $post->getAddress(); ?>&pubid=ra-56658105f0e97254&ct=1&title=<?php echo $post->getTitle(); ?>&pco=tbxnj-1.0" target="_blank"><i class="fa fa-pinterest"></i></a>
                <a href="https://www.addthis.com/bookmark.php?source=tbx32nj-1.0&v=300&url=<?php echo $post->getAddress(); ?>&pubid=ra-56658105f0e97254&ct=1&title=<?php echo $post->getTitle(); ?>&pco=tbxnj-1.0" target="_blank" class="addthis-icon">&nbsp;</a>
                </div>
            </div>
    </div>
</div>

<!-- Comment Section -->

<?php if ($this->getCommentsEnabled()): ?>
    <?php $comments = $this->getComment(); ?>
    <div class="postTitle"><a name="commentBox" ></a>
        <h2><?php echo $this->__('Post Comments') ?></h2>
    </div>

    <?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
        <?php foreach ($comments as $comment) : ?>
            <div class="commentWrapper">
                <div class="commentDetails"><h4 class="username"><?php echo $this->getClearComment($comment->getUser()); ?></h4> <?php echo $this->__("posted on") ?> <?php echo $this->formatDate($comment->getCreatedTime(), Mage::getStoreConfig('blog/blog/dateformat'), true); ?></div>
                <div class="commentContent"><?php echo nl2br($this->getClearComment($comment->getComment())); ?></div>
            </div>
        <?php endforeach; ?>
     <?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>


    <?php if ($post->getComments()): ?>
        <div class="postError"><?php echo Mage::helper('blog')->__('Comments are Closed for this post') ?></div>
    <?php else: ?>
        <?php if ($this->getLoginRequired()): ?>
            <?php if ($this->helper('customer')->isLoggedIn()): ?>
                <form action="" id="postComment" method="post">
                    <div class="fieldset">
                        <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                        <ul class="form-list">
                            <li>

                                <div class="input-box aw-blog-comment-area">
                                    <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label><br />
                                    <textarea name="comment" id="comment" title="<?php echo $this->__('Comment') ?>" class="required-entry input-text" style="height:150px;width:100%;" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-set" style="width:96%">
                        <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                        <input name="email" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserEmail()) ?>"/>
                        <input name="user" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserName()) ?>"/>
                        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                        <button class="form-button button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                    </div>
                </form>

                <script type="text/javascript">
                    var contactForm = new VarienForm('postComment', false);
                </script>

            <?php else: ?>
                <p><?php echo Mage::helper('blog')->__('You must be logged in to post a comment.'); ?></p>
                <p><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo Mage::helper('blog')->__('click here'); ?></a> <?php echo Mage::helper('blog')->__('to log in'); ?></p>
            <?php endif ?>

        <?php else: ?>

            <form action="" id="postComment" method="post">
                <div class="fieldset">
                    <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                    <ul class="form-list">
                        <li>
                            <div class="input-box">
                                <label for="name" class="required"><?php echo Mage::helper('blog')->__('Name') ?><em>*</em></label><br />
                                <input name="user" id="user" value="<?php echo $this->getCommentName(); ?>" title="<?php echo $this->__('Name') ?>" class="required-entry input-text" type="text" />
                            </div>

                            <div class="input-box">
                                <label for="email" class="required"><?php echo Mage::helper('blog')->__('Email') ?><em>*</em></label><br />
                                <input name="email" id="email" value="<?php echo $this->getCommentEmail(); ?>" title="<?php echo $this->__('Email') ?>" class="required-entry input-text validate-email" type="text" />
                            </div>

                            <div class="clear"></div>

                            <div class="input-box aw-blog-comment-area">
                                <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label><br />
                                <textarea name="comment" id="comment" title="<?php echo Mage::helper('blog')->__('Comment') ?>" class="required-entry input-text" style="height:150px;width:100%;" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                            </div>
                        </li>

                        <?php
                        if (Mage::getStoreConfig('blog/recaptcha/enabled') && !$this->helper('customer')->isLoggedIn()) {
                            ?><li><?php
                require_once 'recaptcha/recaptchalib-aw.php';

                // Get a key from http://recaptcha.net/api/getkey
                $publickey = Mage::getStoreConfig('blog/recaptcha/publickey');
                $privatekey = Mage::getStoreConfig('blog/recaptcha/privatekey');
                $error = null;

                echo recaptcha_get_html($publickey, $error, Mage::app()->getStore()->isCurrentlySecure());
                            ?></li><?php
            }
                        ?>
                    </ul>
                </div>
                <div class="button-set" style="width:96%">
                    <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <button class="button form-button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                </div>
            </form>

            <script type="text/javascript">
                var contactForm = new VarienForm('postComment', false);
            </script>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>