<?php
$current_customer = Mage::registry('current_customer');
?>
<div class="entry-edit-head">
  <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Assign a Sales Rep');?></h4>
  <div class="form-buttons"></div>
</div>
<div id="_accountpassword_fieldset" class="fieldset ">
  <div class="hor-scroll">
    <table cellspacing="0" class="form-list">
    <tbody>
    <tr>
      <td class="label">
        <label for="_accountnew_password"><?php echo $this->__('Representative');?></label>
      </td>
      <td class="value">
        <select class="select" name="salesrep_rep" id="salesrep_rep_id">
          <?php
          foreach ($this->getAdmins() as $admin) {
            $selected = '';
            if ($current_customer->getData('salesrep_rep_id') == $admin['value']) {
              $selected = ' selected="selected"';
            }

            echo '<option value="'. $admin['value'] .'"'. $selected .'>'. $admin['label'] .'</option>';
          }
          ?>
        </select>
        <br />
        <i><?php echo $this->__('The sales rep you assign above will be automatically credited with all of this customer\'s future orders. If you change the sales rep, only future orders will be credited to the newly assigned rep.');?></i>
      </td>
    </tr>
    </tbody>
    </table>
  </div>
</div>
