<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Advancedsearch
 * @version    1.4.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$_category  = $this->getCurrentCategory();
$_helper    = $this->helper('catalog/output');
$layerBlock = $this->getLayout()->getBlock('advancedsearch.leftnav');
if ($layerBlock) {
    $layerBlock->setCategory($_category);
    $layerBlock->setMenuTitle(($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()));
}
$toolbarBlock = $this->getLayout()->getBlock('product_list_toolbar_top');
if ($toolbarBlock) {
    $toolbarBlock->setCategory($_category);
    $toolbarBlock->setMenuTitle(($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()));
}
?>
<h1 id="category_title" class="page-header__title"><?php echo ($this->getHeaderText() || $this->getHeaderText() === false) ? $this->getHeaderText() : $this->__("Search results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h1>
<div class="category__filter category-filter">
    <?php echo $this->getChildHtml('product_list_toolbar_top')?>
    <?php echo $this->getChildHtml('catalogsearch_layer_nav')?>
</div>