<?php if ($this->getIsPdfTemplate() || Mage::registry('is_cron')): ?>
    <style>
        .grid table th:first-child {
            background-color: #eee;
            text-align: center;
            vertical-align: middle;
        }

        .grid table th {
            border: 1px solid #eee;
        }

        .grid table td {
            border: 1px solid #eee;
            text-align: center;
            vertical-align: middle;
        }

        .grid table td:first-child {
            color: #404040;
            font-weight: bolder;
        }

        table#commissionsummary_table th, table#sales_downline_table th {
            text-align: center;
            vertical-align: middle;
            background-color: #1F497D;
            color: #fff;
        }

        table#salesrep_payments_grid_table th, table#salesrep_salessummary_grid_table th, table#commissionsummary_grid_table th {
            text-align: center;
            vertical-align: middle;
        }

        table#salesrep_payments_grid_table td.main_header {
            color: #404040;
            font-weight: bold;
        }

        table#salesrep_payments_grid_table tr:last-child td.last {
            color: #404040;
            font-weight: bold;
        }

        table#salesrep_payments_grid_table tr th {
            color: #404040;
        }
    </style>
<div style="font-size: 10px;">
    <?php else: ?>
        <div class="content-header">
            <table cellspacing="0">
                <tr>
                    <td style="<?php echo $this->getHeaderWidth() ?>"><?php echo $this->getHeaderHtml() ?></td>
                    <td class="form-buttons">
                        <?php echo $this->getChildHtml('store.switcher') ?>
                        <?php echo $this->getButtonsHtml() ?></td>
                </tr>
            </table>
        </div>
        <div>
            <?php echo $this->getChildHtml('grid.filter.form.representative') ?>
        </div>
        </br>
        </br>
        </br>
        <div id="chart2b" style="min-height: 200px;height: <?php echo $this->getHeight();?>;width:95%; "></div>

        <script>
            jQuery(document).ready(function(){
                var chartArray = <?php echo $this->getJsonForChart();?>;
                plot2b = jQuery.jqplot('chart2b', chartArray,
                    {
                    seriesDefaults: {
                        renderer:jQuery.jqplot.BarRenderer,
                        pointLabels: {
                            show: true,
                            location: 'w',
                            edgeTolerance: -35
                        },
                        shadowAngle: 135,
                        rendererOptions: {
                            barDirection: 'horizontal',
                            barWidth: 20
                        }
                    },
                    axes: {
                        yaxis: {
                            renderer: jQuery.jqplot.CategoryAxisRenderer,
                            location: 'e'
                        },
                        xaxis: {
                            location: 'e',
                            numberTicks: 6
                        }
                    },
                    axesDefaults: {
                        tickOptions: {
                            angle: -30,
                            fontSize: '10pt'
                        }
                    },
                    legend: {
                        show: false,
                        location: 'e',
                        placement: 'outside'
                    }
                });
				
				let i = 0;
				                    let left = jQuery('#chart2b .jqplot-axis.jqplot-yaxis').width();
				                    let canvas = document.querySelector('#chart2b .jqplot-grid-canvas');
				                    let context = canvas.getContext('2d');

				                    jQuery('#chart2b .jqplot-series-canvas').each( function(e) {
				                        context.drawImage(this, left+10, 10);
				                    });
				                    jQuery('#chart2b canvas').not('.jqplot-grid-canvas').remove();
            });
        </script>
        </br>
        </br>
        </br>
        </br>
        <h3 style="display: inline-block"><?php echo $this->__('Sales Summary'); ?></h3>
        <h5 style="display: inline-block; float: right;"><?php echo $this->getSummaryTotalGoal(); ?></h5>
        <?php echo $this->getChild('adminhtml_report_representative_salessummary')->setData('period_array', $this->getPeriodArray())->toHtml(); ?>

        </br>
        </br>
        </br>
    <?php endif; ?>
    <?php $officeFilter = $this->getFilter('office_data'); ?>
    <?php $regionfilter = $this->getFilter('region_id'); ?>

    <?php if ($this->isTopLevel() || $this->isRegional()): ?>

        <?php if ($officeFilter === '0' && $regionfilter !== '0'): ?>

            <?php foreach ($this->getChildrenPositions() as $child): ?>
                <?php $position = Mage::getModel('cminds_positions/position')->load($child); ?>
                <h3 style="display: inline-block;min-width: 70px;"><?php echo $this->__($position->getName()); ?></h3>
                <a href="<?php echo $this->getViewAllUrl($child);?>" style="display: inline-block" target="_blank"><?php echo $this->__('View all >>');?></a>
                <select id="switch-shipment-status-<?php echo $child;?>" onchange="changeDefaultShipmentStatusView(this, <?php echo $child;?>, '<?php echo $this->getShippingStatusUrl();?>')" style="display: inline-block; float: right;">
                    <option value="0"><?php echo $this->__('All Orders');?></option>
                    <option value="1"><?php echo $this->__('Shipped');?></option>
                    <option value="2"><?php echo $this->__('Not Shipped');?></option>
                </select>
                <?php echo $this->getChild('adminhtml_report_representative_personalvolume')->setData('position_id',
                    $child)->setFilters($this->getFilters())->toHtml(); ?>
                <br/>
            <?php endforeach; ?>
        <?php elseif ($regionfilter === '0' && $officeFilter !== '0'): ?>
            <?php foreach ($this->getLimitedPositions() as $child): ?>
                <?php $position = Mage::getModel('cminds_positions/position')->load($child); ?>
                <h3 style="display: inline-block;min-width: 70px;"><?php echo $this->__($position->getName()); ?></h3>
                <a href="<?php echo $this->getViewAllUrl($child);?>" style="display: inline-block" target="_blank"><?php echo $this->__('View all >>');?></a>
                <select id="switch-shipment-status-<?php echo $child;?>" onchange="changeDefaultShipmentStatusView(this, <?php echo $child;?>, '<?php echo $this->getShippingStatusUrl();?>')"  style="display: inline-block; float: right;">
                    <option value="0"><?php echo $this->__('All Orders');?></option>
                    <option value="1"><?php echo $this->__('Shipped');?></option>
                    <option value="2"><?php echo $this->__('Not Shipped');?></option>
                </select>
                <?php echo $this->getChild('adminhtml_report_representative_personalvolume')->setData('position_id',
                    $child)->setFilters($this->getFilters())->toHtml(); ?>
                <br/>
            <?php endforeach; ?>
        <?php elseif ($officeFilter || $officeFilter == ''): ?>
            <?php if ($officeFilter != '' && $officeFilter !== '0'): ?>
                <?php $position = Mage::getModel('cminds_positions/position')->load($this->getFilter('office_data')); ?>
                <h3 style="display: inline-block;min-width: 70px;"><?php echo $this->__($position->getName()); ?></h3>
                <a href="<?php echo $this->getViewAllUrl($this->getFilter('office_data'));?>" style="display: inline-block" target="_blank"><?php echo $this->__('View all >>');?></a>
                <select id="switch-shipment-status-<?php echo $position->getId();?>" onchange="changeDefaultShipmentStatusView(this, <?php echo $position->getId();?>, '<?php echo $this->getShippingStatusUrl();?>')"  style="display: inline-block; float: right;">
                    <option value="0"><?php echo $this->__('All Orders');?></option>
                    <option value="1"><?php echo $this->__('Shipped');?></option>
                    <option value="2"><?php echo $this->__('Not Shipped');?></option>
                </select>
                <?php echo $this->getChild('adminhtml_report_representative_personalvolume')->setData('position_id',
                    $this->getFilter('office_data'))->setFilters($this->getFilters())->toHtml(); ?>
                <br/>
            <?php elseif($this->isTopLevel()): ?>
                <?php foreach ($this->getLimitedPositions() as $child): ?>
                    <?php $position = Mage::getModel('cminds_positions/position')->load($child); ?>
                    <h3 style="display: inline-block;min-width: 70px;"><?php echo $this->__($position->getName()); ?></h3>
                    <a href="<?php echo $this->getViewAllUrl($child);?>" style="display: inline-block" target="_blank"><?php echo $this->__('View all >>');?></a>
                    <select id="switch-shipment-status-<?php echo $child;?>" onchange="changeDefaultShipmentStatusView(this, <?php echo $child;?>, '<?php echo $this->getShippingStatusUrl();?>')"  style="display: inline-block; float: right;">
                        <option value="0"><?php echo $this->__('All Orders');?></option>
                        <option value="1"><?php echo $this->__('Shipped');?></option>
                        <option value="2"><?php echo $this->__('Not Shipped');?></option>
                    </select>
                    <?php echo $this->getChild('adminhtml_report_representative_personalvolume')->setData('position_id',
                        $child)->setFilters($this->getFilters())->toHtml(); ?>
                    <br/>
                <?php endforeach; ?>
            <?php elseif($this->isRegional()): ?>
                <?php foreach ($this->getChildrenPositions() as $child): ?>
                    <?php $position = Mage::getModel('cminds_positions/position')->load($child); ?>
                    <h3 style="display: inline-block;min-width: 70px;"><?php echo $this->__($position->getName()); ?></h3>
                    <a href="<?php echo $this->getViewAllUrl($child);?>" style="display: inline-block" target="_blank"><?php echo $this->__('View all >>');?></a>
                    <select id="switch-shipment-status-<?php echo $child;?>" onchange="changeDefaultShipmentStatusView(this, <?php echo $child;?>, '<?php echo $this->getShippingStatusUrl();?>')"  style="display: inline-block; float: right;">
                        <option value="0"><?php echo $this->__('All Orders');?></option>
                        <option value="1"><?php echo $this->__('Shipped');?></option>
                        <option value="2"><?php echo $this->__('Not Shipped');?></option>
                    </select>
                    <?php echo $this->getChild('adminhtml_report_representative_personalvolume')->setData('position_id',
                        $child)->setFilters($this->getFilters())->toHtml(); ?>
                    <br/>
                <?php endforeach; ?>
            <?php else: ?>
                <?php $position = Mage::getModel('cminds_positions/position')->load($this->getUser()->getSalesrepPositionId()); ?>
                <h3 style="display: inline-block;min-width: 70px;"><?php echo $this->__($position->getName()); ?></h3>
                <a href="<?php echo $this->getViewAllUrl($position->getId());?>" style="display: inline-block" target="_blank"><?php echo $this->__('View all >>');?></a>
                <select id="switch-shipment-status-<?php echo $position->getId();?>" onchange="changeDefaultShipmentStatusView(this, <?php echo $position->getId();?>, '<?php echo $this->getShippingStatusUrl();?>')"  style="display: inline-block; float: right;">
                    <option value="0"><?php echo $this->__('All Orders');?></option>
                    <option value="1"><?php echo $this->__('Shipped');?></option>
                    <option value="2"><?php echo $this->__('Not Shipped');?></option>
                </select>
                <?php echo $this->getChild('adminhtml_report_representative_personalvolume')->setData('position_id',
                    $position->getId())->setFilters($this->getFilters())->toHtml(); ?>
                <br/>
            <?php endif; ?>

        <?php endif; ?>
    <?php endif; ?>
    <?php if (!$this->hasChildren()): ?>
        <?php $position = Mage::getModel('cminds_positions/position')->load($this->getUser()->getSalesrepPositionId()); ?>
        <h3 style="display: inline-block;min-width: 70px;"><?php echo $this->__($position->getName()); ?></h3>
        <a href="<?php echo $this->getViewAllUrl($position->getId());?>" style="display: inline-block" target="_blank"><?php echo $this->__('View all >>');?></a>
        <select id="switch-shipment-status-<?php echo $position->getId();?>" onchange="changeDefaultShipmentStatusView(this, <?php echo $position->getId();?>, '<?php echo $this->getShippingStatusUrl();?>')" style="display: inline-block; float: right;">
            <option value="0"><?php echo $this->__('All Orders');?></option>
            <option value="1"><?php echo $this->__('Shipped');?></option>
            <option value="2"><?php echo $this->__('Not Shipped');?></option>
        </select>
        <?php echo $this->getChild('adminhtml_report_representative_personalvolume')->setData('position_id',
            $position->getId())->setFilters($this->getFilters())->toHtml(); ?>
        <br/>
    <?php endif; ?>
</div>
<?php if (!$this->getIsPdfTemplate() && !Mage::registry('is_cron')): ?>
    <script type="text/javascript">
        function filterFormSubmit() {
            var filters = $$('#filter_form input', '#filter_form select');
            var elements = [];
            for (var i in filters) {
                if (filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
            }
            var validator = new Validation('filter_form');
            if (validator.validate()) {
                setLocation('<?php echo $this->getFilterUrl(); ?>filter/' + encode_base64(Form.serializeElements(elements)) + '/');
            }
        }
        function exportToPdf() {
            var filters = $$('#filter_form input', '#filter_form select');
            var elements = [];
            for (var i in filters) {
                if (filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
            }
            var validator = new Validation('filter_form');
            if (validator.validate()) {
                setLocation('<?php echo $this->getPdfExportUrl(); ?>filter/' + encode_base64(Form.serializeElements(elements)) + '/');
            }
        }
    </script>
<?php endif; ?>
