.ais-search-box--powered-by { font-size: .8em; text-align: right; margin-top: 2px;}
input::-ms-clear { display: none; }
#instant-search-pagination-container { width: 100%; text-align: center; }
.ais-pagination { background-color: transparent; border: none; box-shadow: none; margin:0 auto; }
.ais-pagination li { display: inline-block; margin:0 3px;}
.ais-pagination--item a {  border: 1px solid #e5e5e5; color: #606060; display: inline-block; font-size: 13px; height: 41px; line-height: 41px; text-align: center; width: 41px;}
.ais-pagination--item a:hover{outline: 0;  background: #0e5881; border: 1px solid #e5e5e5; color: #ffffff !important; display: inline-block; font-size: 13px; height: 41px; line-height: 41px; text-align: center; width: 41px;}
li.ais-pagination--item.ais-pagination--item__previous a, li.ais-pagination--item.ais-pagination--item__next a{ padding-top:40px; position:relative; overflow:hidden; font-size:0px; vertical-align:middle;}
li.ais-pagination--item.ais-pagination--item__previous a:before { content:"\f0d9";  font-family: FontAwesome; font-size: 22px; position:absolute; left:0; top:0; bottom:0; right:0;}
li.ais-pagination--item.ais-pagination--item__next a:before { content:"\f0da";  font-family: FontAwesome; font-size: 22px; position:absolute; left:0; top:0; bottom:0; right:0;}


.ais-pagination li.ais-pagination--item__disabled { display: none; }
.ais-pagination--item__active a {  background: #0e5881; border: 1px solid #e5e5e5; color: #ffffff !important; display: inline-block; font-size: 13px; height: 41px; line-height: 41px; text-align: center; width: 41px;}
.ais-pagination--item.ais-pagination--item__next a, .ais-pagination--item.ais-pagination--item__previous a { font-weight: normal; color: #606060; }
.ais-menu--link, .ais-hierarchical-menu--link, .ais-price-ranges--link, .ais-refinement-list--label { padding: 4px 10px; cursor: pointer; color: #636363; text-decoration: none; display: block; font-family: inherit; font-weight: inherit; font-size: inherit; }
.ais-hierarchical-menu--item__active > div > .ais-hierearchical-link-wrapper > .ais-hierarchical-menu--link, .ais-refinement-list--item__active > div > .ais-hierarchical-list--link, .ais-refinement-list--item__active > div > .ais-refinement-list--label, .ais-price-ranges--item__active > .ais-price-ranges--link{ font-weight: bold;}
.ais-hierearchical-link-wrapper, .ais-refinement-list--item { color: #606060; font-size: 14px; line-height: 15px; margin: 0; padding: 5px 0; white-space: normal;}
.ais-refinement-list--label, .ais-hierarchical-menu--link { line-height:normal; padding:0; margin:0; }
.ais-refinement-list--label img { display: inline; }
.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper .cross-circle, .ais-refinement-list--item__active .cross-circle { display:none;}
.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper:hover .cross-circle, .ais-refinement-list--item__active:hover .cross-circle { text-decoration: underline; vertical-align: bottom; margin-left: 6px; opacity: 1; }
.ais-refinement-list--item:hover { text-decoration: underline; }
.ais-price-ranges--input { width: 70px !important; }
.ais-price-ranges--label { margin: 5px; }
.ais-refinement-list--checkbox { margin-right: 10px; }
.current-refinements { position: relative; }
.ais-current-refined-values--link { cursor: pointer; color: #636363; border-radius: 2px; border: solid 1px #DDDDDD; background-color: #f4f4f4; display: inline-block; max-width: 100%; white-space: nowrap; padding: 0 8px 0 0; height: 28px; overflow: hidden; }
.ais-current-refined-values--clear-all { position: absolute; right: 6px; top: 3px; color: #666666; font-weight: 500; }
a.ais-current-refined-values--link:hover { text-decoration: none; }
.ais-current-refined-values--item { margin-top: 8px; }
.ais-current-refined-values--item:after { clear: both; content: ""; display: block; }
.ais-current-refined-values--item .current-refinement-label { font-weight: bold; }
.ais-current-refined-values--item .cross-wrapper { font-weight: bold; background-color: #DDDDDD; border-radius: 1px 0 0 1px; float: left; width: 26px; height: 26px; text-align: center; line-height: 26px; }
.ais-current-refined-values--link:hover .cross-wrapper { text-decoration: none; }
.ais-current-refined-values--link .cross-wrapper img { display: inline; margin-top: 6px; }
.ais-current-refined-values--item .current-refinement-wrapper { float: left; width: calc(100% - 26px); height: 26px; padding-left: 8px; overflow: hidden; text-overflow: ellipsis; line-height: 26px; }
.ais-current-refined-values--link:hover .current-refinement-wrapper { text-decoration: line-through; }
.ais-menu--link:hover, .ais-price-ranges--link:hover, .ais-hierarchical-menu--link:hover { color: #636363; }
.ais-menu--count, .ais-hierarchical-menu--count, .ais-refinement-list--count { float: right; color: #666; }
.ais-range-slider--target { position: relative; direction: ltr; background: #F3F4F7; height: 6px; margin-top: 3em; margin-bottom: 4em; width:88%; margin-left:0; }
.ais-range-slider--base { width: 100%; height: 100%; position: relative; z-index: 1; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; border-left: 2px solid #DDD; border-right: 2px solid #DDD; }
.ais-range-slider--origin { position: absolute; right: 0; top: 0; left: 0; bottom: 0; }
.ais-range-slider--connect { background: #b5b6b9; }
.ais-range-slider--background { background: #F3F4F7; }
.ais-range-slider--handle { width: 20px; height: 20px; position: relative; z-index: 1; background: #FFFFFF; border: 1px solid #c8c8c8; border-radius: 50%; cursor: pointer; }
.ais-range-slider--handle-lower { left: -10px; bottom: 7px; }
.ais-range-slider--handle-upper { right: 10px; bottom: 7px; }
.ais-range-slider--tooltip { position: absolute; background: #FFFFFF; top: -2em; min-width: 20px; text-align: center; font-size: .8em;}
.ais-range-slider--pips { box-sizing: border-box; position: absolute; height: 3em; top: 100%; left: 0; width: 100%; }
.ais-range-slider--value { width: 40px; position: absolute; text-align: center; margin-left: -20px; padding-top: 15px; font-size: .8em; }
.ais-range-slider--value-sub { font-size: .8em; padding-top: 15px; }
.ais-range-slider--marker { position: absolute; margin-left: -1px; width: 1px; height: 5px; }
.ais-range-slider--marker-large { background: #DDD; width: 2px; margin-left: -2px; height: 12px; }
.ais-range-slider--marker-large:first-child { margin-left: 0; }
#algolia-autocomplete-container .aa-dropdown-menu .before_special { color: #aaaaaa; text-decoration: line-through; font-size: 12px; }
#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .category-tag { color: #3284b6; }
#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .details { font-size: 10px; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .details em { color: #222222; }
#algolia-autocomplete-tt.algolia-autocomplete { width: 100%; display: inline-block !important; }
#algolia-autocomplete-container .aa-dropdown-menu { position: absolute; margin-top:5px; right: 0px; width: 100%; z-index: 1000 !important; border: 1px solid #BBB; border: 3px solid #0e5881; border-radius: 1px; background: white; }

@media (min-width: 992px) {
    .cms-home #algolia-autocomplete-container .aa-dropdown-menu { width: 43%; min-width: 0; right:28% !important;}
    #algolia-autocomplete-container .aa-dropdown-menu { width: 70%; right:0 !important;}
}
#algolia-autocomplete-container .aa-dropdown-menu .col-2 { position: relative; }
#algolia-autocomplete-container .aa-dropdown-menu .col-2 .col-left { width: 67%; }
#algolia-autocomplete-container .aa-dropdown-menu .col-2 .col-right { width: 33%; }
#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products { padding: 40px 40px; min-height: 250px; }
#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .title { font-weight: bold; margin-bottom: 30px; font-size: 16px; }
#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .suggestions { margin-bottom: 30px;}
#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .see-all a { color: #636363; font-weight: bold; }
#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results { padding: 10px; font-style: italic; }
#algolia-autocomplete-container .aa-dropdown-menu .category { padding: 0; color: #0e5881; font-family:MyriadPro-Semibold;  text-align: left; font-size:15px; }
#algolia-autocomplete-container .aa-dropdown-menu .category-suggestions { padding: 4px; color: #54A5CD; text-align: left; font-size: 0.7em; text-transform: uppercase; }
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit { display: block; position: relative; padding:5px 0; color: #8c8c8c; text-align: left; text-decoration: none; font-family:myriadwebpro;}
#algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-dataset-suggestions .algoliasearch-autocomplete-hit { padding-left: 30px; }
#algolia-autocomplete-container .aa-dropdown-menu.aa-without-products .col9 { background-color: #F9F9F9; }
#algolia-autocomplete-container .aa-dropdown-menu.aa-without-products #autocomplete-products-footer { display: none; }
#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion { display: inline-block; width: 100%; }
@media (min-width: 768px) { 
#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion { display: block; width: 50%; padding:15px 15px 0px 15px; float:left; }
}
#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .algoliasearch-autocomplete-hit { margin:0; padding:0 0 15px 0; border-bottom:solid 1px #e3e3e3; width:100%; float:left; }
.autocomplete-wrapper { width: 100%; }
.autocomplete-wrapper:after { clear: both; content: ''; }
.col9 { float: right; width: 100%; }
.col3 { display:none; float: none; width: 0; }
#algolia-autocomplete-container.reverse .col3 { display:none; float: none; width: 0; }
#algolia-autocomplete-container.reverse .col9 { float: left; width: 100%; }
@media (min-width: 768px) { 
.col9 { border-left: solid 1px #eeeeee; float: right; width: 100%; padding:0 5px; position:relative}
.col3 { display:none; float: none; width: 0; }
#algolia-autocomplete-container.reverse .col3 { display:none; float: none; width: 0; }
#algolia-autocomplete-container.reverse .col9 { border-right: solid 1px #cccccc; float: left; width:70%; }
}
.other-sections { margin:14px 14px; margin-bottom: 70px; }
.aa-dataset-products .aa-suggestions { margin: 10px auto 10px auto;}
.aa-dataset-suggestions { display: none;}
@media (min-width: 768px) { 
.aa-dataset-suggestions { display: block; }
}
@media (min-width: 768px) { 
.aa-dataset-products .aa-suggestions { margin: 10px auto 70px auto; }
}
.aa-dataset-products .aa-suggestions:after { content:''; display:block; clear: both; }
#algolia-autocomplete-container .aa-dropdown-menu .other-sections .algoliasearch-autocomplete-hit { padding-left: 10px; }
#algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-suggestions { margin-bottom: 20px; }
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit em { font-weight: bold; font-style: normal; }
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-price { font-size: 1.1em; color: #54A5CD; height: 22px; display:none; }
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .thumb { float: left; }
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .thumb img { width: 50px; }
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info { margin-left:70px; margin-top:10px; text-overflow: ellipsis; overflow: hidden; color: #606060; text-align: left; text-decoration: none; font-family:myriadwebpro; font-size:14px; font-family:MyriadPro-Semibold; }
/*#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit { min-height: 100px; }*/
#autocomplete-products-footer { display:none; position: absolute; bottom:20px; right:20px; left:20px;  background:#cccccc url(../images/nav-arrow-right-active.png) 10px center no-repeat;  padding:2px 15px 2px 24px; text-align:left; display: none; line-height:20px; }
#algolia-autocomplete-container.reverse #autocomplete-products-footer { right: auto; left: 0; }
@media (min-width: 768px) { 
#autocomplete-products-footer { display: block; }
}
#autocomplete-products-footer span { color: #15769c; font-weight: 600; }
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info .algoliasearch-autocomplete-category { font-size: 0.8em; color: #666; white-space: nowrap; overflow: hidden; max-width: 100%; text-overflow: ellipsis; display:none; }
#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info .algoliasearch-autocomplete-category em { color: #222; }
#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia { display:none; position: absolute; width: 100%; padding: 10px; text-align: center; bottom: 4px; left: 4px; font-size: 13px; }
#algolia-autocomplete-container.reverse .aa-dropdown-menu .footer_algolia { left: auto; right: 4px; }
@media (min-width: 768px) { 
#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia { width: 30%; }
}
#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia span { color: #B8B8B8; font-size: 10px; }
#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia img { display: inline; height: 1.5em; vertical-align: bottom; }
#algolia-searchbox{ margin:0; position: relative; }
.clear-cross { position: absolute; display: none; background: url("data:image/svg+xml;utf8,<svg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' xmlns=\'http://www.w3.org/2000/svg\' opacity=\'0.6\'><path d=\'M.566 1.698L0 1.13 1.132 0l.565.566L6 4.868 10.302.566 10.868 0 12 1.132l-.566.565L7.132 6l4.302 4.3.566.568L10.868 12l-.565-.566L6 7.132l-4.3 4.302L1.13 12 0 10.868l.566-.565L4.868 6 .566 1.698z\'></path></svg>") no-repeat center center / contain; cursor: pointer; width: 16px; height: 16px; }
#algolia-searchbox .clear-query-autocomplete { top: 13px; right: 12px;}
#algolia_instant_selector .clear-query-instant { right: 12px; top: 10px; }
.cross-wrapper .clear-refinement { display: block; position: relative; top: 5px; left: 5px;  }
#algolia-searchbox .magnifying-glass { position: absolute; right: 10px; width: 20px; height: 20px; display: block; top: 10px; background: url("data:image/svg+xml;utf8,<svg width=\'40\' height=\'40\' viewBox=\'0 0 40 40\'  fill=\'%23A6A6A6\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M15.553 31.107c8.59 0 15.554-6.964 15.554-15.554S24.143 0 15.553 0 0 6.964 0 15.553c0 8.59 6.964 15.554 15.553 15.554zm0-3.888c6.443 0 11.666-5.225 11.666-11.668 0-6.442-5.225-11.665-11.668-11.665-6.442 0-11.665 5.223-11.665 11.665 0 6.443 5.223 11.666 11.665 11.666zm12.21 3.84a2.005 2.005 0 0 1 .002-2.833l.463-.463a2.008 2.008 0 0 1 2.833-.003l8.17 8.168c.78.78.78 2.05-.004 2.833l-.462.463a2.008 2.008 0 0 1-2.834.004l-8.168-8.17z\' fill-rule=\'evenodd\'/></svg>") no-repeat center right / 20px;}
#algolia-searchbox .algolia-search-input { }
#algolia-searchbox .algolia-search-input:focus:not([value=""]) { background: transparent; }
#algolia-searchbox .algolia-search-input:focus { outline: 0; box-shadow: none; border: solid 1px #54A5CD; }
#algolia_instant_selector { margin: 10px; }
#algolia_instant_selector a, #algolia_instant_selector a:hover, #algolia_instant_selector a:focus {  }

#algolia_instant_selector:after { content: ""; clear: both; display: block; }
#algolia_instant_selector .category { }
#algolia_instant_selector .title { }
#algolia_instant_selector .title img { width: 200px; }
#algolia_instant_selector .text-ellipsis { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#algolia_instant_selector #instant-search-bar { float: left; width: calc(100% - 140px); height: 40px; border: solid 2px #0e5881; border-left: none; padding-left: 6px; padding-top: 2px; }
#algolia_instant_selector.with-facets #algolia-right-container { }
#algolia_instant_selector.with-facets #algolia-left-container { min-height: 1px; }
#algolia_instant_selector .hits .infos { margin: 0 15px; padding:10px 0; color: #606060; text-align: center; background: #FFF; font-size: 13px; clear: both; border:solid 1px #e5e5e5; border-width:1px 0; line-height:30px; }
#algolia_instant_selector .hits .infos strong { color: #555; }
#algolia_instant_selector .hits .sort-by-label { margin-right: 8px; }
#algolia_instant_selector .hits .no-results { margin: 40px 25px; color: #636363; font-size: 16px; }
#algolia_instant_selector a:hover { color: #666666; }
#algolia_instant_selector .hits .no-results strong { color: #555; }
#algolia_instant_selector .hits .no-results .clear-button { cursor: pointer; }
#algolia_instant_selector .hits .no-results .popular-searches { text-align: left; margin-top: 20px; margin-bottom: 30px; }
#algolia_instant_selector .infos .algolia-logo { font-size: 10px; }
#algolia_instant_selector .facets { padding-top: 50px;}
@media (max-width: 992px) { 
#algolia_instant_selector .facets { padding-top: 10px; } 
}
#algolia_instant_selector .ais-current-refined-values.facet .ais-current-refined-values--body { padding-left:0; }
#algolia_instant_selector .facet { margin-bottom:0; padding-bottom:12px; background-color: white; border-bottom: solid 1px #e5e5e5; padding-top:10px; }
#algolia_instant_selector .facet:not(:first-child) { margin-top: 10px; }
#algolia_instant_selector .ais-header { margin-bottom: 7px; }
#algolia_instant_selector .ais-header.ais-current-refined-values--header { margin-bottom: 13px; }
.ais-current-refined-values.facet { position: relative; }
#algolia_instant_selector .as-range-slider--base { margin-top: 45px; }
#algolia_instant_selector .hierarchical .ais-hierarchical-menu--list { padding-left: 10px; }
#algolia_instant_selector .hierarchical .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl0 { padding-left: 0px; }
#algolia_instant_selector .facet .sub_facet:not(:last-child) { border-bottom: 1px dotted #e0e0e0; }
#algolia_instant_selector .text-center { text-align: center; padding:10px 0; border:solid 1px #e5e5e5; border-width:1px 0; }
#algolia_instant_selector em { background-color: #CFEAFA; font-style: normal; }
#algolia_instant_selector h1 { margin: 0; }
#algolia_instant_selector .result { display: block; margin:10px 0 30px 0; padding:0; }
#algolia_instant_selector .result .result-thumbnail{ border:1px solid #e5e5e5;}

#algolia_instant_selector .price-wrapper { height: 25px; }
#algolia_instant_selector .result:hover { border-color: #b9b9b9; text-decoration: none; }
#algolia_instant_selector .result .result-thumbnail { text-align: center; position:relative; }
#algolia_instant_selector .result .result-thumbnail img {max-width:100%;} 
#algolia_instant_selector .result .result-thumbnail .no-image { display: block; height: 148px; background: #FAFAFA; }
#algolia_instant_selector .result .ratings .rating-box { margin: 0 auto 10px; float: inherit; }
#algolia_instant_selector h3{ margin-bottom: 0; }
#algolia_instant_selector .result .price { text-align: center; font-size: 1.2em; color: #54A5CD; }
#algolia_instant_selector .result .result-title { color: #606060; font-family: MyriadPro-Semibold; font-size: 14px; line-height: 16px; margin: 0; padding: 0; text-transform: uppercase;}
#algolia_instant_selector .result .result-sub-content{ padding:8px 5px 18px; border-bottom:2px solid #0e5881; }

#algolia_instant_selector .result .result-sub-content .actions { padding-top:18px;}
#algolia_instant_selector .result .result-sub-content .actions button.button{ padding:0 18px; height:30px; line-height:30px; font-size:13px; color:#ffffff;  font-family:MyriadPro-Semibold; text-transform:uppercase; }
#algolia_instant_selector .result .result-sub-content .actions button.button:hover{ background:#000;}
#algolia_instant_selector .result .result-sub-content .product-sku { color: #606060; font-family: myriadwebpro; line-height: 16px; text-transform: uppercase; }
#algolia_instant_selector .result .result-sub-content .product-cate { color: #0e5881; font-family: myriadwebpro; font-size: 13px; line-height: 16px;  white-space: nowrap; text-overflow: ellipsis; overflow: hidden; height:16px;}

#algolia_instant_selector .ui-widget-header { background-color: #bcbcbc; }
#algolia_instant_selector .result-thumbnail img { width: 100%; }
#algolia_instant_selector #instant-search-bar-container { padding-top: 0px; margin-bottom: 15px; width: 100%; position: relative; }
#algolia_instant_selector #instant-search-bar-container:after { clear: both; content: ""; display: block; }
#algolia_instant_selector .as-search-box--input { width: 100%; height: 40px; font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif; }
#algolia_instant_selector #instant-search-bar:focus { outline: 0; box-shadow: none; }
#algolia_instant_selector #instant-search-box label { display: none; }
#algolia_instant_selector .instant-search-bar-label { background-color: #0e5881; height: 40px; line-height: 24px; padding: 8px 12px; color: white; float: left; text-align: right; position: relative; }
#algolia_instant_selector #instant-search-box .icon { display: block; position: absolute; top: 50%; left: 8px; width: 016px; height: 0; transform: translateY(-50%); }
#algolia_instant_selector #instant-search-box .clear-query-instant { top: 50%; transform: translateY(-50%); }
#algolia_instant_selector .before_special { color: #aaaaaa; text-decoration: line-through; font-size: 12px; }
#algolia_instant_selector button:hover { background: #2E8AB8 none repeat scroll 0% 0%; cursor: pointer; }
.ais-price-ranges--button { background: #39C none repeat scroll 0% 0%; padding: 5px 15px; margin-left: 10px; border: 0px none; color: #FFF; font-size: 13px; font-weight: normal; font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif; line-height: 19px; text-align: center; text-transform: uppercase; vertical-align: middle; }
#algolia_instant_selector .pull-left { float: left; }
#algolia_instant_selector .pull-right { float: right; }
#algolia_instant_selector .pull-right select{ border:1px solid #bababa; border-radius:5px; height:30px;}
#algolia_instant_selector #refine-toggle { font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif; text-align: center; height: 40px; line-height: 40px; border: solid 1px #EDEDED; margin: 10px 0 20px 0; font-weight: bold; cursor: pointer;}
#algolia-static-content { margin-bottom: 20px; }
#algolia_instant_selector, #algolia_instant_selector *, #search_mini_form, #search_mini_form * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#algolia_instant_selector:before, #algolia_instant_selector:after, #algolia_instant_selector *:before, #algolia_instant_selector *:after, #search_mini_form:before, #search_mini_form:after, #search_mini_form *:before, #search_mini_form *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.row { margin-left: -15px; margin-right: -15px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left;}
.col-xs-12 { width: 100%;}
.col-xs-11 { width: 91.66666667%;}
.col-xs-10 { width: 83.33333333%;}
.col-xs-9 { width: 75%;}
.col-xs-8 { width: 66.66666667%;}
.col-xs-7 { width: 58.33333333%;}
.col-xs-6 { width: 50%;}
.col-xs-5 { width: 41.66666667%;}
.col-xs-4 { width: 33.33333333%;}
.col-xs-3 { width: 25%;}
.col-xs-2 { width: 16.66666667%;}
.col-xs-1 { width: 8.33333333%;}
.col-xs-offset-12 { margin-left: 100%;}
.col-xs-offset-11 { margin-left: 91.66666667%;}
.col-xs-offset-10 { margin-left: 83.33333333%;}
.col-xs-offset-9 { margin-left: 75%;}
.col-xs-offset-8 { margin-left: 66.66666667%;}
.col-xs-offset-7 { margin-left: 58.33333333%;}
.col-xs-offset-6 { margin-left: 50%;}
.col-xs-offset-5 { margin-left: 41.66666667%;}
.col-xs-offset-4 { margin-left: 33.33333333%;}
.col-xs-offset-3 { margin-left: 25%;}
.col-xs-offset-2 { margin-left: 16.66666667%;}
.col-xs-offset-1 { margin-left: 8.33333333%;}
.col-xs-offset-0 { margin-left: 0%;}
@media (min-width: 768px) { 
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; } .col-sm-12 { width: 100%; } .col-sm-11 { width: 91.66666667%; } .col-sm-10 { width: 83.33333333%; } .col-sm-9 { width: 75%; } .col-sm-8 { width: 66.66666667%; } .col-sm-7 { width: 58.33333333%; } .col-sm-6 { width: 50%; } .col-sm-5 { width: 41.66666667%; } .col-sm-4 { width: 33.33333333%; } .col-sm-3 { width: 25%; } .col-sm-2 { width: 16.66666667%; } .col-sm-1 { width: 8.33333333%; } .col-sm-offset-12 { margin-left: 100%; } .col-sm-offset-11 { margin-left: 91.66666667%; } .col-sm-offset-10 { margin-left: 83.33333333%; } .col-sm-offset-9 { margin-left: 75%; } .col-sm-offset-8 { margin-left: 66.66666667%; } .col-sm-offset-7 { margin-left: 58.33333333%; } .col-sm-offset-6 { margin-left: 50%; } .col-sm-offset-5 { margin-left: 41.66666667%; } .col-sm-offset-4 { margin-left: 33.33333333%; } .col-sm-offset-3 { margin-left: 25%; } .col-sm-offset-2 { margin-left: 16.66666667%; } .col-sm-offset-1 { margin-left: 8.33333333%; } .col-sm-offset-0 { margin-left: 0%; }
}
@media (min-width: 992px) { 
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; } .col-md-12 { width: 100%; } .col-md-11 { width: 91.66666667%; } .col-md-10 { width: 83.33333333%; } .col-md-9 { width: 75%; } .col-md-8 { width: 66.66666667%; } .col-md-7 { width: 58.33333333%; } .col-md-6 { width: 50%; } .col-md-5 { width: 41.66666667%; } .col-md-4 { width: 33.33333333%; } .col-md-3 { width: 25%; } .col-md-2 { width: 16.66666667%; } .col-md-1 { width: 8.33333333%; } .col-md-offset-12 { margin-left: 100%; } .col-md-offset-11 { margin-left: 91.66666667%; } .col-md-offset-10 { margin-left: 83.33333333%; } .col-md-offset-9 { margin-left: 75%; } .col-md-offset-8 { margin-left: 66.66666667%; } .col-md-offset-7 { margin-left: 58.33333333%; } .col-md-offset-6 { margin-left: 50%; } .col-md-offset-5 { margin-left: 41.66666667%; } .col-md-offset-4 { margin-left: 33.33333333%; } .col-md-offset-3 { margin-left: 25%; } .col-md-offset-2 { margin-left: 16.66666667%; } .col-md-offset-1 { margin-left: 8.33333333%; } .col-md-offset-0 { margin-left: 0%; }
}
@media (min-width: 1200px) { 
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; } .col-lg-12 { width: 100%; } .col-lg-11 { width: 91.66666667%; } .col-lg-10 { width: 83.33333333%; } .col-lg-9 { width: 75%; } .col-lg-8 { width: 66.66666667%; } .col-lg-7 { width: 58.33333333%; } .col-lg-6 { width: 50%; } .col-lg-5 { width: 41.66666667%; } .col-lg-4 { width: 33.33333333%; } .col-lg-3 { width: 25%; } .col-lg-2 { width: 16.66666667%; } .col-lg-1 { width: 8.33333333%; } .col-lg-offset-12 { margin-left: 100%; } .col-lg-offset-11 { margin-left: 91.66666667%; } .col-lg-offset-10 { margin-left: 83.33333333%; } .col-lg-offset-9 { margin-left: 75%; } .col-lg-offset-8 { margin-left: 66.66666667%; } .col-lg-offset-7 { margin-left: 58.33333333%; } .col-lg-offset-6 { margin-left: 50%; } .col-lg-offset-5 { margin-left: 41.66666667%; } .col-lg-offset-4 { margin-left: 33.33333333%; } .col-lg-offset-3 { margin-left: 25%; } .col-lg-offset-2 { margin-left: 16.66666667%; } .col-lg-offset-1 { margin-left: 8.33333333%; } .col-lg-offset-0 { margin-left: 0%; }
}
.row:before,.row:after { content: " "; display: table;}
.row:after { clear: both;}
.visible-xs, .visible-sm { display: none!important }
.hidden-xs, .hidden-sm { display: block !important}
@media (max-width: 1200px) {
#algolia-autocomplete-container .aa-dropdown-menu { width: 63%; min-width: 0; right:18% !important;}
}
@media (max-width: 767px) { 
.visible-xs { display: block !important }
.hidden-xs { display: none!important }

#algolia-autocomplete-container .aa-dropdown-menu{ left:15px !important; right:15px !important; width:inherit;}
}

@media (max-width: 992px) { 
.visible-sm { display: block !important }
.hidden-sm { display: none!important }
}
#algolia-autocomplete-container:after, .autocomplete-wrapper:after { clear: both; content: ''; }
#algolia-autocomplete-container .other-sections .info-without-thumb {font-family:MyriadPro-Semibold; font-size:14px; color:#606060; }
#algolia-autocomplete-container .other-sections  a.algoliasearch-autocomplete-hit { padding:5px 0 !important;}

#algolia-autocomplete-container .other-sections .info-thumb {font-family:MyriadPro-Semibold; font-size:14px; color:#606060; }
#algolia-autocomplete-container .other-sections .algoliasearch-autocomplete-hit .info { margin:0;}
#algolia-autocomplete-container .other-sections .algoliasearch-autocomplete-hit .thumb { float: left; display:none; }
#autocomplete-products-footer span { font-weight:400; font-size:13px; color:#0e5881; font-family:MyriadPro-Semibold;}

#instant-search-facets-container .block-title strong { border-color: #e5e5e5; border-style: solid; border-width: 1px 0; color: #0e5881; display: block; font-size: 40px; font-weight: normal; line-height: 61px; padding: 0; }
#algolia_instant_selector .facet .name{ color: #606060; font-family: MyriadPro-Semibold; font-size: 14px; font-weight: normal; text-transform: none; }
#algolia_instant_selector .facet .ais-refinement-list--label input{ margin:0 5px 0 0; vertical-align:text-top;}
#algolia_instant_selector .result .result-thumbnail .mgkviewlightbox{ position:absolute; bottom: 0; left: 50%; position: absolute;  z-index: 999;}
#algolia_instant_selector .result .result-thumbnail .mgkviewlightbox:hover{ color:#FFF;}
@media (max-width: 767px) { 
#algolia_instant_selector .result .result-thumbnail .mgkviewlightbox{ display:none;}
}
/*IWD*/
.autocomplete-wrapper .col9 .other-sections{
    margin-top: -20px;
}
@media (max-width: 767px) {
    .autocomplete-wrapper .col9 .other-sections{
        margin-top: 14px;
    }
}
#algolia-autocomplete-container .other-sections .algoliasearch-autocomplete-hit .info{
    min-height: 0 !important;
}
#algolia-autocomplete-container .other-sections div.aa-dataset-suggestions{
    display: none !important;
}
/*IWD*/