<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
    
    /* Code for redirecting directly to product page if search have just one result - Start */
    $currentUrl = Mage::helper('core/url')->getCurrentUrl();
    if (strpos($currentUrl, 'catalogsearch/result')) {
        if($_productCollection->getSize() == 1) {
            $searchItem = $_productCollection->getFirstItem();
            $product = Mage::getModel('catalog/product')->load($_productCollection->getFirstItem()->getId()); 
            $productUrl = $product->getProductUrl();
            Mage::app()->getResponse()->setRedirect($productUrl);
        }
    }
    /* Code for redirecting directly to product page if search have just one result - End */
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php // List mode ?>
    <?php if($this->getMode()!='grid'): ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
            <div class="border-cover">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(220); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <a href="#" class="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_product->getId() ?>/"><?php echo $this->__("<span>+</span> Quick View")?></a>

		<?php $phase_out = $_product->getAttributeText('phasing_out') ?>
        <?php $discontinued = $_product->getAttributeText('discontinued') ?>
        
            <?php if ($phase_out == 'Yes'): ?>
                <div class="listing-phase-icon">
                    <img alt="<?php echo $this->__('Phase Out') ?>" src="<?php echo $this->getSkinUrl('images/phasing-out-listing.png'); ?>" />
                </div>
            <?php endif; ?>
            
            <?php if ($discontinued == 'Yes'): ?>
                <div class="listing-discontinued-icon">
                    <img alt="<?php echo $this->__('Discontinued') ?>" src="<?php echo $this->getSkinUrl('images//discontinued-icon-listing.png'); ?>" />
                </div>
            <?php endif; ?>

            </div>
            <?php // Product description ?>
            <div class="product-shop">
            <div class="product-details-sec">
                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                <div class="product-sku"><?php echo $sku = Mage::getModel('catalog/product')->load($_product->getId())->getSku(); ?></div>
                <?php if($this->getLayer()->getCurrentCategory()->getName()): ?>
                    <div class="product-cate">
                        <?php echo $this->getLayer()->getCurrentCategory()->getName() ?>
                    </div>
                <?php endif; ?>
              
              </div>
              
               <div class="actions">
                	<button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('View Details')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('View Details') ?></span></span></button>
                </div>
                
            </div>
        </li>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
    <?php else: ?>
    <?php // Grid Mode ?>
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <ul class="products-grid">
    <?php $i=0; foreach ($_productCollection as $_product): ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
            	<div class="border-cover">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(300, 300); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <a href="#" class="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_product->getId() ?>/"><?php echo $this->__("<span>+</span> Quick View")?></a>
				<?php $phase_out = $_product->getAttributeText('phasing_out') ?>
                <?php $discontinued = $_product->getAttributeText('discontinued') ?>
                
                    <?php if ($phase_out == 'Yes'): ?>
                        <div class="listing-phase-icon">
                            <img alt="<?php echo $this->__('Phase Out') ?>" src="<?php echo $this->getSkinUrl('images/phasing-out-listing.png'); ?>" />
                        </div>
                    <?php endif; ?>
                    
                    <?php if ($discontinued == 'Yes'): ?>
                        <div class="listing-discontinued-icon">
                            <img alt="<?php echo $this->__('Discontinued') ?>" src="<?php echo $this->getSkinUrl('images//discontinued-icon-listing.png'); ?>" />
                        </div>
                    <?php endif; ?>
                </div>
                <div class="product-details-sec">
                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>

                    <div class="product-sku"><?php echo $sku = Mage::getModel('catalog/product')->load($_product->getId())->getSku(); ?></div>
                        <?php $cats = $_product->getCategoryIds(); ?>
                        <?php $tempLastCatId = end($cats); ?>
                        <?php $tempCatParrent = Mage::getModel("catalog/category")->load($tempLastCatId)->getParentCategory() ?>
                        <?php if ($tempCatParrent->getId() == 2): ?>
                            <?php array_pop($cats) ?>
                            <?php $lastCat = end($cats) ?>
                        <?php else: ?>
                            <?php $lastCat = $tempLastCatId ?>
                        <?php endif; ?>
                    <?php if($lastCat): ?>
                        <div class="product-cate">
                            <?php echo Mage::getModel("catalog/category")->load($lastCat)->getName() ?>
                        </div>
                    <?php endif; ?>
                </div>

                <div class="actions">
                	<button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('View Details')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('View Details') ?></span></span></button>
                </div>
            </li>
        <?php endforeach ?>
        </ul>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>
    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
</div>
<?php endif; ?>



<script type="text/javascript">
    var FlagInit200ORMore = false;
    var FlagInit = true;
    function init1200ORMore() {
        var widthWindow = jQuery(window).width();
        //console.log(widthWindow);
        if (widthWindow >= 1184) {
            FlagInit200ORMore = true;
            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt").removeClass('open').addClass('closed');
            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt").next().attr('style','').removeClass('hide-sub').addClass('show-sub');
            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt").parent().css('z-index', '99');

            var arrHeight5Li = [];
            var arrHeightAllLi = [];

            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dd").each(function (i, elementParent) {

                var sumHeight5Li = 0;
                var allSummHeighLi = 0;

                jQuery(this).find('li').each(function (j, elementLi) {
                    if (j < 5) {
                        sumHeight5Li += parseInt(jQuery(elementLi).outerHeight(true));
                    }
                    allSummHeighLi += parseInt(jQuery(elementLi).outerHeight(true));
                });

                arrHeight5Li.push(sumHeight5Li);
                arrHeightAllLi[jQuery(this).find('ol').attr('id')] = allSummHeighLi;
            });

            var max = Math.max.apply(Math, arrHeight5Li);
            if(FlagInit) {
                FlagInit = false;
                jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dd .MaxTest444").each(function (i, elementParent) {

                    var countItemLi = jQuery(this).find('li').length;
                    if (countItemLi > 6) {
                        jQuery(this).after('<div class="space" style="height: 4px;text-align: center;margin-top: -3px;">▼</div>');
                    }
                });
            }
            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dd .MaxTest444").each(function (i, elementParent) {
                jQuery(this).innerHeight(max + 6);
            });


            jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dd ol").scroll(function (i, elementParent) {
                //console.log('scroll');
                var widthWindow = jQuery(window).width();
                if (widthWindow >= 1184) {
                    var heightAll = arrHeightAllLi[jQuery(this).attr('id')];
                    var scrollTop = parseInt(jQuery(this).scrollTop());
                    var heightVisibleBlock = parseInt(jQuery(this).height());
                    if (parseInt(heightAll - heightVisibleBlock) <= scrollTop) {
                        jQuery(this).parent().next().text('');
                    } else {
                        jQuery(this).parent().next().text('▼');
                    }
                }
            });

        }else{
            if(FlagInit200ORMore){
                jQuery(".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt").next().attr('style','display: none;').removeClass('show-sub').addClass('hide-sub').find('.MaxTest444').attr('style','');
                FlagInit200ORMore = false;
            }
        }
    }
    var FlagAnimation  = true;
    function init1200ORLess() {
        jQuery(document).on('click touch',".block.block-layered-nav-top .block-content #aw-ln-filters-container-top dt",function () {
            if(FlagAnimation) {
                FlagAnimation = false;
                var widthWindow = jQuery(window).width();
                if (widthWindow < 1184) {
                    if (jQuery(this).hasClass('closed')) {
                        jQuery(this).removeClass('closed').addClass('open');
                        jQuery(this).next().slideToggle().removeClass('show-sub').addClass('hide-sub');
                        jQuery(this).parent().css('z-index', '9');
                    } else {
                        jQuery(this).removeClass('open').addClass('closed');
                        jQuery(this).next().slideToggle().removeClass('hide-sub').addClass('show-sub');
                        jQuery(this).parent().css('z-index', '99');
                    }
                }
                setTimeout("FlagAnimation = true",100);
            }
        });
    }

    jQuery(window).bind('resize', function(e){

        var widthWindow = jQuery(window).width();

        init1200ORMore();
    });


    jQuery(function() {

        init1200ORLess();
        init1200ORMore();

    });

    /************************************************/

jQuery(function() {
	jQuery(".block.block-layered-nav-top .block-title").click(function () {
		if (jQuery(this).hasClass('closed')) {
			jQuery(this).removeClass('closed').addClass('open');
			jQuery(this).next().slideToggle().removeClass('show-sub').addClass('hide-sub');
		} else {
			jQuery(this).removeClass('open').addClass('closed');
			jQuery(this).next().slideToggle().removeClass('hide-sub').addClass('show-sub');
		}
	});	
});

jQuery(function() {
	jQuery(".block.block-layered-nav .block-title").click(function () {
		if (jQuery(this).hasClass('closed')) {
			jQuery(this).removeClass('closed').addClass('open');
			jQuery(this).next().slideToggle().removeClass('show-sub').addClass('hide-sub');
		} else {
			jQuery(this).removeClass('open').addClass('closed');
			jQuery(this).next().slideToggle().removeClass('hide-sub').addClass('show-sub');
		}
	});	
});

jQuery(function() {
	jQuery(".block.block-layered-nav .block-content #aw-ln-filters-container dt").click(function () {
		if (jQuery(this).hasClass('closed')) {
			jQuery(this).removeClass('closed').addClass('open');
			jQuery(this).next().slideToggle().removeClass('show-sub').addClass('hide-sub');
		} else {
			jQuery(this).removeClass('open').addClass('closed');
			jQuery(this).next().slideToggle().removeClass('hide-sub').addClass('show-sub');
		}
	});
});

jQuery(function() {
	var max = 0;
	jQuery('.products-grid li.item .product-details-sec').each(function() {
		jQuery(this).height('auto');
		var h = jQuery(this).height();
		max = Math.max(max, h);
	}).height(max);
});

jQuery(document).ready(function(){
	var productCnt = jQuery(".toolbar .amount .amount-raw").text();
	var cntString = "<li class='breadcrumbs-last'>" + productCnt + " Items</li>";
	if(jQuery('.bredcumb-setion .breadcrumb li').last().hasClass('breadcrumbs-last')){
			jQuery('.bredcumb-setion .breadcrumb li').last().remove();
			jQuery('.bredcumb-setion .breadcrumb li').last().after(cntString);
		}else{
			jQuery('.bredcumb-setion .breadcrumb li').last().after(cntString);
		}
});
</script>
